<div ng-controller="rbButtonController">
	<header>
		<h1>rb-button</h1>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-8">
			<rba-code readonly model="markup" caption="markup"></rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm" ng-submit="save()">
		<h5 rba-text-curve>Demo</h5>

		<rba-radios caption="type" model="a.type" data="types" toggle></rba-radios>
		<rba-radios caption="kind" model="a.kind" data="kinds" toggle></rba-radios>
		<rba-radios caption="size" model="a.size" data="sizes" toggle></rba-radios>
		<rba-checkbox caption="disabled" model="a.disabled"></rba-checkbox>
		<rba-input caption="caption" model="a.caption"></rba-input>

		<!-- ICON OPTIONS -->
		<rba-radios caption="icon-kind" model="a.iconKind" data="icons" toggle></rba-radios>
		<rba-radios caption="icon-source" model="a.iconSource" data="iconSources" toggle></rba-radios>
		<rba-checkbox caption="icon-position" model="a.iconPosition" value="iconPosition" sub-caption="{{iconPosition}}"></rba-checkbox>

		<section class="buttons">
			<button>Save</button>
			<button type="button" ng-click="reset()">Reset</button>
		</section>
	</form>
</div>