<div ng-controller="rbNavController">
	<header>
		<h1>rb-nav</h1>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col">
			<rba-code readonly model="markup" caption="markup"></rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<rba-checkbox caption="layout" model="a.layout" value="layout" sub-caption="{{layout}}"></rba-checkbox>
		<rba-textarea caption="content" model="a.content"></rba-textarea>

		<section class="buttons">
			<button name="button" ng-click="reset()">Reset</button>
		</section>
	</form>
</div>
