<div ng-controller="rbNavController">
	<header class="page-header">
		<h1>rb-nav</h1>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
			<!-- <rb-nav active="hash">
				<a href="" ng-href="#{{link}}" ng-repeat="link in links" ng-bind="link"></a>
			</rb-nav>
			<br>
			<button type="button" ng-click="addLink()">add link</button> -->

			<!-- <br>
			<a href="?name=home#home">home</a>
			<a href="?name=about#about">about</a>
			<a href="?name=contact#contact">contact</a>
			<a href="?name=faq#faq">faq</a> -->

			<!-- <br>
			<a href="#home">home</a>
			<a href="#about">about</a>
			<a href="#contact">contact</a>
			<a href="#faq">faq</a>  -->

			<!-- <a href="#link">link</a> -->
		</div>
		<div class="col-7">
			<rba-code readonly model="markup" caption="markup"></rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<div class="grid-noBottom">
			<div class="col-8">
				<rba-radios caption="kind" model="a.kind" data="kinds" toggle></rba-radios>
				<rba-radios caption="active" model="a.active" data="actives" stacked toggle></rba-radios>
				<rba-input caption="caption" model="a.caption"></rba-input>
			</div>
			<div class="col">
				<rba-checkbox caption="inline" model="a.inline"></rba-checkbox>
				<rba-checkbox caption="vertical" model="a.vertical"></rba-checkbox>
				<rba-checkbox caption="dividers" model="a.dividers"></rba-checkbox>
				<rba-checkbox caption="responsive" model="a.responsive"></rba-checkbox>
			</div>
			<div class="col">
				<rba-textarea caption="content" model="a.content" width="xxwide"></rba-textarea>
			</div>
		</div>

		<section class="buttons">
			<rb-button
				data-reset
				icon="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>
</div>
