/****************
 * FORM ELEMENTS
 ****************/
form {
	margin-bottom: remy(30);
}

label {
	&.cb,
	&.radio {
		&:hover {
			cursor: pointer;
		}
	}
}

input {
	padding: 2px 5px;
	color: #555;
	line-height: 1.4;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border 200ms ease-out;
	&:focus {
		outline: none;
		border: 1px solid #aaa;
	}
}

input {
	&[type="radio"],
	&[type="checkbox"] {
		&:hover {
			cursor: pointer;
		}
	}
}

::placeholder {
	color: #ccc;
}