/****************
 * FORM ELEMENTS
 ****************/
form {
	margin-bottom: remy(30);
}

/* Labels
 *********/
label {
	display: inline-block;
	&:not(.sub-label) {
		color: $grey;
		font-size: remy(14);
		font-weight: 500;
		text-transform: uppercase;
	}
}

/* Text Inputs
 **************/
textarea,
input[type='text'],
input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='month']
input[type='number'],
input[type='password'] {
	padding: remy(6) remy(8);
	color: $darker;
	font-size: remy(13);
	line-height: 1.4;
	border-radius: 4px;
	border: 1px solid $xxxGreyLight;
	transition: border 200ms ease-out;
	&:focus {
		outline: none;
		border: 1px solid $greyLight;
	}
}

/* Textareas
 ************/
textarea {
	width: remy(400);
	height: remy(112);
}

/* Checkboxes and Radios
 ************************/
input[type='radio'],
input[type='checkbox'] {
	&:hover {
		cursor: pointer;
	}
}

/* Pseudo Elements
 ******************/
.placeholder,
::placeholder {
	color: #ccc;
}