/***********
 * HEADINGS
 ***********/
// bottom margins
h1 { margin-bottom: remy(20); }
h2 { margin-bottom: remy(20); }
h3 { margin-bottom: remy(20); }
h4 { margin-bottom: remy(18); }
h5 { margin-bottom: remy(18); }
h6 { margin-bottom: remy(18); }

// colors
h1 { color: mapGet($palette, steelBlue); }
h2 { color: mapGet($palette, steelBlue); }
h3 { color: mapGet($palette, steelBlue); }
h4 { color: mapGet($palette, steelBlue); }
h5 { color: mapGet($palette, steelBlue); }
h6 { color: mapGet($palette, steelBlue); }

// font weights
h1 { font-weight: 300; }
h2 { font-weight: 300; }
h3 { font-weight: 300; }
h4 { font-weight: 400; }
h5 { font-weight: 400; }
h6 { font-weight: 400; }

// font sizes
h1 { font-size: remy(39); }
h2 { font-size: remy(33); }
h3 { font-size: remy(28); }
h4 { font-size: remy(19); }
h5 { font-size: remy(17); }
h6 { font-size: remy(18); }

// extra styling
h1, h2, h3, h4, h5, h6 { text-shadow: 1px 1px 4px mapGet($palette, isabelline); }
h4, h5 { text-transform: uppercase; }

// sub headings
h1, h2, h3, h4, h5, h6 {
	&.subheading {
		color: mapGet($palette, cadetGrey);
	}
}