/********
 * LINKS
 ********/
a {
	$links:  #78a4c8;
	$hover:  $links;
	$active: #6798c1;

	color: $links;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $hover;
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
	&:active,
	&.active {
		color: $active;
		text-decoration: none;
	}
}