/********
 * LINKS
 ********/
a {
	$links:  #db3a4d; // red in logo is #d0021b
	$hover:  $links;
	$active: darken($links, 5);

	color: $links;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $hover;
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
	&:active,
	&.active {
		color: $active;
		text-decoration: none;
	}
}