/********
 * LINKS
 ********/
a {
	color: lightcoral;

	&:focus,
	&:hover {
		color: indianred;
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}

	&:active,
	&.active {
		color: lightcoral;
	}
}