/******
 * NAV
 ******/
nav {
	a {
		color: #789;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: .8px;
		text-decoration: none;
		text-transform: uppercase;
		&:focus,
		&:hover {
			color: indianred;
			text-decoration: none;
		}
		&:focus {
			outline: none;
		}
		&:not(:last-of-type) {
			&:after {
				position: relative;
				top: -2px;
				margin: 0 5px 0 10px;
				font-size: 70%;
				content: '|';
			}
		}
		&:active,
		&.active {
			color: indianred;
		}
	}
}