/******
 * NAV
 ******/
nav {
	display: flex;
	// flex-direction: column; // TODO: stacked option
	position: relative;
	top: 1px;
	a {
		margin: 0;
		&:not(:last-child) {
			margin-right: remy(2);
		}
		padding: remy(10) remy(10) remy(18);
		color: lightslategrey;
		font-size: remy(13);
		font-weight: 700;
		letter-spacing: .1px;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 10px 10px 0 0;
		border: 1px solid transparent;
		border-bottom: none;
		&:focus,
		&:hover {
			color: lightslategrey;
			background-color: white;
			border-color: #ddd;
			text-decoration: none;
		}
		&:active,
		&.active {
			color: dimgray;
			background-color: white;
			border-color: #ddd;
			cursor: default;
		}
		&:focus { outline: none; }
	}
}