/***********
 * SECTIONS
 ***********/
section {
	margin-bottom: remy(40);

	/* Sections
	 ***********/
	&.grid {
		margin-bottom: remy(15);
	}

	/* Options
	 **********/
	&.separated {
		margin-bottom: remy(32);
		padding-bottom: remy(33);
		border-bottom: 1px dashed mapGet($palette, gainsboro);
		@include removeLastChildBottomSpacing();
	}
}