/*************************
 * DEMO COMPONENT SECTION
 *************************/
.demo-component {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// for testing
	// background-color: aliceblue;
	// padding: 15px;

	&.dark {
		padding: 15px;
		border-radius: 5px;
		background-color: mapGet($palette, charlestonGreen); // same as rb-code
	}
}