/****************
 * FORM CONTROLS
 ****************/
.control,
.controls { margin-bottom: remy(15); }
.controls .control { margin-bottom: 0; }

// FLEXBOX
.control {
	display: flex;
	align-items: baseline;
	.caption {
		flex: 0 0 remy(75); // 75 problem if flex-direction: column
	}
	.sub-control {
		display: flex;
		align-items: baseline;
	}
}

/* Labels
 *********/
.control {
	.caption {
		margin-right: remy(10);
	}
	.sub-caption {
		margin-left: 4px;
	}
	.sub-control {
		&:not(.first) { margin-left: remy(10); }
		&:hover { cursor: pointer; }
	}
}

/* Controls (wraps control)
 ***************************/
.controls {
	.control {
		.caption {
			color: #aaa;
			font-size: remy(13);
			text-align: right;
		}
	}
}