/****************
 * FORM CONTROLS
 ****************/
// FLEXBOX
.control {
	display: flex;
	align-items: baseline;
	// flex-direction: column;
	> label {
		flex: 0 0 remy(75); // 75 problem if flex-direction: column
	}
	.sub-controls {
		display: flex;
		> label {
			flex: 1 0 auto;
		}
	}
}

/* Labels
 *********/
.control {
	margin-bottom: remy(15);
	> label {
		margin-right: remy(10);
	}
	.sub-controls {
		position: relative;
		top: -1px;
		label {
			&:not(:first-child) { margin-left: remy(10); }
			&:hover { cursor: pointer; }
		}
	}
}

/* Controls (wraps control)
 ***************************/
.controls {
	margin-bottom: remy(15);
	.control {
		margin-bottom: 0;
		// margin-left: remy(25);
		> label {
			color: #aaa;
			font-size: remy(13);
			text-align: right;
		}
	}
}