/****************
 * FORM CONTROLS
 ****************/
.control,
.controls { margin-bottom: remy(15); }
.controls .control { margin-bottom: 0; }

/* Flexbox
 **********/
.control {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	.caption {
		flex: 0 0 remy(75);
	}
	.sub-controls {
		display: flex;
		flex-wrap: wrap;
	}
	/* options
	 **********/
	&.vertical {
		flex-direction: column;
		.caption {
			flex-basis: auto;
		}
	}
	// for checkboxes and radios
	&.stacked {
		.sub-controls {
			flex-direction: column;
		}
	}
}

/* Labels
 *********/
.control {
	.caption {
		margin-right: remy(10);
	}
	.sub-label {
		&:not(:last-of-type) { margin-right: remy(10); }
		&:hover { cursor: pointer; }
	}
}
.controls .control {
	.caption {
		color: #aaa;
		font-size: remy(13);
		text-align: right;
	}
}

