/********************
 * CHANGELOG SECTION
 ********************/
.changelog {
	font-size: .95em;

	/* Headings Font Size
	 *********************/
	h1 { font-size: remy(28); }
	h2 { font-size: remy(20); a { font-size: remy(25); } }
	h3 { font-size: remy(19); }
	h4 { font-size: remy(17); }
	h5 { font-size: remy(16); }
	h6 { font-size: remy(15); }

	/* Specific Styling
	 *******************/
	h1, h2 {
		margin: remy(20) 0;
		padding: remy(6) 0;
		color: #92a2b2;
		border-bottom: 1px dotted lightgrey; // #d3d3d3
		&:first-of-type {
			margin-top: 0;
			padding-top: 0;
		}
	}
	h3, h4, h5, h6 {
		margin-bottom: remy(10);
	}

	a {
		color: steelblue;
	}
}