/*************************
 * DEMO COMPONENT SECTION
 *************************/
section.component {
	flex: 1 1 auto;
	margin: 0;

	&.inverse {
		padding: 20px 20px 21px;
		border-radius: 10px;
		background-color: #333;
		&.inline {
			flex-grow: 0;
		}
	}
}