/********************
 * HEADLINES SECTION
 ********************/
.headlines { // example: homepage
	section {
		margin: 0 0 remy(40);
		padding: 0 0 remy(60);
		border-bottom: 1px dashed #ddd;
		text-align: center;
		@include removeLastChildBottomSpacing();

		h1 {
			border-bottom: none;
			margin-bottom: remy(22);
			padding-bottom: 0;
		}
		p {
			font-size: remy(18);
		}

		&:first-child {
			padding-top: remy(30);
			padding-bottom: remy(50);
			font-style: italic;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}