/********************
 * HEADLINES SECTION
 ********************/
.headlines { // example: homepage
	section {
		margin: 0 0 remy(40);
		padding: 0 0 remy(60);
		text-align: center;
		border-bottom: 1px dashed #cacaca;
		@include removeLastChildBottomSpacing();

		p {
			font-size: remy(18);
		}

		&:first-child {
			margin-top: remy(30);
			padding-bottom: remy(55);
			font-style: italic;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}