/**********************
 * COMPONENT API TABLE
 **********************/
$textColors: (
	general:  #3a87ad, // set in tables.scss
	required: #7c8895,
	sub:      #c3c8ce
);

.api-table {
	/* Common
	 *********/
	.th-,
	.td- {
		&required { text-align: center; }
	}

	/* Column Widths
	 ****************/
	.th- {
		&attribute   { width: 18%; }
		&description { width: 33%; }
		&options     { width: 21%; }
		&type        { width: 11%; }
		&required    { width: 17%; }
	}

	/* Body Formatting
	 ******************/
	.td- {
		&attribute { font-weight: 600; }
		&type,
		&options,
		&required { color: mapGet($textColors, required); }
	}

	/* Browser Support Page
	 ***********************/
	.th-,
	.td- {
		&browser { text-align: center; }
	}
	.th- {
		&notes { width: 33%; }
	}
	.td- {
		&browser { font-weight: 600; vertical-align: middle; }
	}
	.support { text-align: center; vertical-align: middle; }

	// icon colors
	.full-support    { color: #28a745; }
	.partial-support { color: #e7af00; }
	.no-support      { color: #dc3545; }


	/* Filtering
	 ************/
	.na, .no { color: mapGet($textColors, sub); }

	/* Optionize
	 ************/
	.optionize {
		display: inline-flex;
		flex-wrap: wrap;
		b:not(:last-of-type)::after {
			position: relative;
			top: -1px;
			margin: 0 4px;
			font-size: .75em;
			content: '|';
		}
	}

	/* Headings
	 ***********/
	h6 {
		margin: remy(3) 0;
		padding: 0;
		color: inherit;
		font-weight: 600;
		font-size: inherit;
		text-shadow: none;
	}

	/* Lists
	 ********/
	ul {
		margin: 0;
		padding-left: 1.2em;
		li {
			margin: 0 0 remy(4);
		}
	}

	/* Pre's
	 ********/
	pre {
		margin: 0;
	}

	/* Misc
	 *******/
	.tag {
		&::before { content: '<'; }
		&::after  { content: '>'; }
	}
	.not-attr {
		display: block;
		color: mapGet($textColors, sub);
		font-style: normal;
		&::before { content: '('; }
		&::after  { content: ')'; }
	}
	.default-val {
		display: block;
		color: mapGet($textColors, sub);
		font-style: normal;
		b {
			&::before { content: '\''; }
			&::after  { content: '\''; }
		}
		&::before { content: '('; }
		&::after  { content: ')'; }
	}
}