/**********************
 * COMPONENT API TABLE
 **********************/
$textColors: (
	general:     #3a87ad, // set in tables.scss
	required:    #7c8895,
	options:     #7c8895,
	sub:         #c3c8ce,
	infoSub:     #92a2b2,
	infoHeading: #c3c8ce
);

.api-table {
	/* Common
	 *********/
	.th-,
	.td- {
		&required { text-align: center; }
	}

	/* Column Widths
	 ****************/
	.th- {
		&attribute   { width: 18%; }
		&description { width: 33%; }
		&options     { width: 21%; }
		&type        { width: 11%; }
		&required    { width: 17%; }
	}

	/* Body Formatting
	 ******************/
	.td- {
		&name, // css vars table
		&attribute { font-weight: 600; }
		&options { color: mapGet($textColors, options); }
		&type,
		&required { color: mapGet($textColors, required); }
	}

	/* Browser Support Page
	 ***********************/
	.th-,
	.td- {
		&browser { text-align: center; }
	}
	.th- {
		&notes { width: 39%; }
	}
	.td- {
		&browser { font-weight: 600; }
	}
	.support { text-align: center; }

	// icon colors
	.full-support    { color: #28a745; }
	.partial-support { color: #e7af00; }
	.no-support      { color: #dc3545; }

	/* Filtering
	 ************/
	.na, .no { color: mapGet($textColors, sub); }

	/* Optionize
	 ************/
	.optionize {
		display: inline-flex;
		flex-wrap: wrap;
		b:not(:last-of-type)::after {
			position: relative;
			top: -1px;
			margin: 0 4px;
			font-size: .75em;
			content: '|';
			color: mapGet($textColors, options);
		}
	}

	/* Headings
	 ***********/
	h6 {
		margin: 4px 0 3px;
		padding: 0;
		color: inherit;
		font-weight: 600;
		font-size: inherit;
		text-shadow: none;
	}

	/* Lists
	 ********/
	ol, ul {
		margin: 0;
		padding-left: 1.2em;
		li {
			margin: 0;
		}
	}

	/* Pre's
	 ********/
	pre {
		margin: 0;
	}

	/* Misc
	 *******/
	.tag {
		font-style: normal;
		&::before { content: '<'; }
		&::after  { content: '>'; }
	}

	.info-sub,
	.info-sub-inline { color: mapGet($textColors, infoSub); }
	.info-heading    { color: mapGet($textColors, infoHeading); }

	.info-sub,
	.info-heading { display: block; }

	.info-sub,
	.info-heading,
	.info-sub-inline {
		font-style: normal;
		&::before { content: '('; }
		&::after  { content: ')'; }
	}
	.no-parens {
		&::before { content: normal; }
		&::after  { content: normal; }
	}
}

/* Browser Support Page
 ***********************/
.browser-support {
	.responsive-table {
		overflow-x: visible; // needed because auto cuts off popover
	}
}