/*****************
 * SHOWCASE FONTS
 *****************/
$fonts: (
	/****************************************************
	 * OPERATING SYSTEMS
	 * -------------------------------------------------
	 * mac: Helvetica Neue
	 * windows: Microsoft Sans Serif | Segoe UI
	 * fallback: sans-serif
	 * -------------------------------------------------
	 * Supported Font Weights (400 is normal)
	 * -------------------------------------------------
	 * Helvetica Neue:       300 | 400 | 500 | 600
	 * Microsoft Sans Serif: 400 | 600
	 * Segoe UI:             300 | 400 | 500 | 700 | 800
	 * sans-serif (mac):     300 | 400 | 600
	 * sans-serif (windows): 300 | 600 | 800
	 ****************************************************/
	default: (
		'Helvetica Neue',
		'Microsoft Sans Serif',
		'Segoe UI',
		sans-serif
	),

	/*****************************************
	 * OPERATING SYSTEMS
	 * --------------------------------------
	 * mac: Menlo | Monaco | Consolas
	 * windows: Lucida Console | Consolas
	 * fallback: monospace
	 * --------------------------------------
	 * Supported Font Weights (400 is normal)
	 * --------------------------------------
	 * All: 400 | 600
	 *****************************************/
	monospaced: (
		Menlo,
		Monaco,
		'Lucida Console',
		Consolas,
		monospace
	)
);