/*****************
 * SHOWCASE FONTS
 *****************/
$fonts: (
	/****************************************************
	 * OPERATING SYSTEMS
	 * -------------------------------------------------
	 * mac: Helvetica Neue
	 * windows: Microsoft Sans Serif | Segoe UI
	 * fallback: sans-serif
	 * -------------------------------------------------
	 * Supported Font Weights (400 normal | 700 bold)
	 * -------------------------------------------------
	 * Helvetica Neue:       300 | 400 | 500 | 600
	 * Microsoft Sans Serif: 400 | 600 (unused)
	 * Segoe UI:             300 | 400 | 500 | 700 | 800
	 * sans-serif (mac):     300 | 400 | 600
	 * sans-serif (windows): 300 | 600 | 800
	 ****************************************************/
	default: (
		'Helvetica Neue',
		'Segoe UI',
		sans-serif
	),

	/*************************************************
	 * OPERATING SYSTEMS
	 * ----------------------------------------------
	 * mac: Menlo | Monaco | Consolas
	 * windows: Consolas
	 * fallback: monospace
	 * ----------------------------------------------
	 * Supported Font Weights (400 normal | 700 bold)
	 * ----------------------------------------------
	 * All: 400 | 600
	 *************************************************/
	monospaced: (
		Menlo,
		Monaco,
		Consolas,
		monospace
	)
);