/***********************************************************
 * GRIDLEX VARIABLES
 * -----------------
 * Overrides available in gridlex-vars.scss.
 *
 * REFERENCE:
 * http://gridlex.devlint.fr/#sass-documentation
 * http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_defaults_default
 *
 * AVAILABLE OVERRIDES:
 * $gl-colCount: 12;
 * $gl-gutter: 1rem;
 * $gl-gutter-vertical: 1rem;
 * $gl-mq-list: ( lg: 80em, md: 64em, sm: 48em, xs: 36em );
 ***********************************************************/
$gl-gutter: 2rem;
$gl-mq-list: (
	lg: 80em,
	md: 64em,
	sm: 48em,
	xs: 36em
);