/******************
 * SHOWCASE MIXINS
 ******************/
@mixin removeLastChildBottomMargin() {
	> *:last-child {
		margin-bottom: 0;
	}
}

@mixin removeLastChildBottomSpacing() {
	> *:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}