/******************
 * SHOWCASE MIXINS
 ******************/
@mixin removeLastChildBottomMargin() {
	> *:last-child {
		margin-bottom: 0;
	}
}

@mixin tabSize($size:4) {
	-webkit-tab-size: $size;
	   -moz-tab-size: $size;
	     -o-tab-size: $size;
	        tab-size: $size;
}