/************************************
 * SPACERS - FOR BUMPERS AND PUSHERS
 ************************************/
$spacers: (
	nil:       0     !important,
	tiny:      2px   !important,
	mini:      5px   !important,
	small:     10px  !important,
	default:   15px  !important,
	large:     20px  !important,
	xlarge:    25px  !important,
	xxlarge:   30px  !important,
	xxxlarge:  35px  !important,
	giant:     40px  !important,
	xgiant:    50px  !important,
	xxgiant:   65px  !important,
	xxxgiant:  75px  !important,
	huge:      85px  !important,
	xhuge:     100px !important,
	xxhuge:    158px !important
);