language: node_js
node_js:
  - '8'
cache:
  directories:
    - $(npm root -g) # global node_modules directory
    - $(npm bin -g)/rapid-build
before_install:
  - if [[ $(npm -v) != '6.0.0' ]]; then npm install -g npm@6.0.0; fi # check version
  - if [[ -z $(command -v rapid-build) ]]; then npm install -g rapid-build@5; fi # if not installed
# notifications:
#   email:
#     on_success: always
after_script:
  - rapid-build --version
  - rapid-build --location
  - npm --version
  - npm list -g --depth=0
  - ls -a1 $(npm root -g)
  - ls -a1 $(npm bin -g)