language: node_js
node_js:
  - '8'
env:
  global:
    - RB_SHOWCASE_DIR="$TRAVIS_BUILD_DIR"
    - RB_COMPONENTS_DIR="$RB_SHOWCASE_DIR/.."
    # - RB_SETUP_COMPONENT="rapid-build prod publish && npm run link"
    # - RB_SETUP_COMPONENT="$(rapid-build prod publish && npm run link)"
    - RB_SETUP_COMPONENT="$(cd $RB_COMPONENTS_DIR/${1} && rapid-build prod publish && npm run link)"
    - YARN_LINK_DIR="$(yarn global dir)/../link"
cache:
  directories:
    - node_modules   # repo root node_modules
    - $(npm root -g) # global node_modules directory
    - $(npm bin -g)/rapid-build
    - $(npm bin -g)/yarn
    - $(npm bin -g)/yarnpkg
before_install:
  - if [[ $(npm -v) != '6.0.1' ]]; then npm install -g npm@6.0.1; fi             # check version
  - if [[ $(yarn -v) != '1.6.0' ]]; then npm install -g yarn@1.6.0; fi           # check version
  - if [[ -z $(command -v rapid-build) ]]; then npm install -g rapid-build@5; fi # if not installed
  # - cd $RB_SHOWCASE_DIR && pwd
  # - cd $(yarn global dir)/../link && ls -a1
  - cd $YARN_LINK_DIR && ls -a1
  - cd $RB_COMPONENTS_DIR
  - git clone --depth 1 https://github.com/rapid-build-ui/rb-alert.git
  # - git clone --depth 1 https://github.com/rapid-build-ui/rb-button.git
  # - cd $RB_COMPONENTS_DIR/rb-alert  && eval $RB_SETUP_COMPONENT
  - eval $RB_SETUP_COMPONENT "rb-alert"
  # - cd $RB_COMPONENTS_DIR/rb-button && eval $RB_SETUP_COMPONENT
  # - cd $(yarn global dir)/../link && ls -a1
  - cd $YARN_LINK_DIR && ls -a1
  # - pwd && ls -a1
  # - cd $RB_COMPONENTS_DIR && pwd
  - cd $RB_SHOWCASE_DIR && pwd
  # - git clone --depth 1 https://github.com/rapid-build-ui/rb-alert.git /home/travis/build/rapid-build-ui/rb-alert
  # - echo $TRAVIS_BUILD_DIR && echo pwd
  # - cd $TRAVIS_BUILD_DIR/.. && pwd && rapid-build prod publish && npm run relink
  # - cd $TRAVIS_BUILD_DIR && pwd
# notifications:
#   email:
#     on_success: always
after_script:
  # - rapid-build --version
  # - rapid-build --location
  # - npm --version
  # - yarn --version
  # - npm list -g --depth=0
  # - ls -a1 $(npm root -g)
  # - ls -a1 $(npm bin -g)
  # - ls -a1 /home/travis/build
  # - ls -a1 /home/travis/build/rapid-build-ui
  # - ls -a1 $TRAVIS_BUILD_DIR # repo root
  # - cd $TRAVIS_BUILD_DIR/.. && ls -a1 # build dir
  - cd $RB_COMPONENTS_DIR && ls -a1 # build dir
  - echo pwd