language: node_js

node_js:
  - '8'

env:
  global:
    - RB_SHOWCASE_DIR="$TRAVIS_BUILD_DIR"
    - RB_COMPONENTS_DIR="$RB_SHOWCASE_DIR/.."
    - YARN_LINK_DIR="$(yarn global dir)/../link"

cache:
  directories:
    - node_modules     # repo root node_modules
    - "$(npm root -g)" # global node_modules directory
    - "$(npm bin -g)/rapid-build"
    - "$(npm bin -g)/yarn"
    - "$(npm bin -g)/yarnpkg"

before_install:
  - if [[ $(npm -v) != '6.0.1' ]]; then npm install -g npm@6.0.1; fi             # check version
  - if [[ $(yarn -v) != '1.6.0' ]]; then npm install -g yarn@1.6.0; fi           # check version
  - if [[ -z $(command -v rapid-build) ]]; then npm install -g rapid-build@5; fi # if not installed

before_script: # runs after npm install
  - node scripts/travis/dev $RB_SHOWCASE_DIR $RB_COMPONENTS_DIR

deploy:
  provider: heroku
  app: rapid-build-ui-io-dev
  skip_cleanup: true
  on:
    branch: dev
  api_key:
    secure: $HEROKU_API_KEY
