# ==============================
# COMMON SETUP
# ==============================
# Travis only runs on:
# Commit to "continuous" branch.
# Valid semver tag is created.
# ==============================
language: node_js

node_js:
  - '8'

env:
  global:
    # Versions
    - NPM_VERSION="6.0.1"
    - YARN_VERSION="1.6.0"
    # Directories
    - RB_SHOWCASE_DIR="$TRAVIS_BUILD_DIR"
    - RB_COMPONENTS_DIR="$RB_SHOWCASE_DIR/.."
    - YARN_LINK_DIR="$(yarn global dir)/../link"

cache:
  directories:
    - node_modules     # repo root node_modules
    - "$(npm root -g)" # global node_modules directory
    - "$(npm bin -g)/rapid-build"
    - "$(npm bin -g)/yarn"
    - "$(npm bin -g)/yarnpkg"

# Install Global Dependencies
# ===========================
before_install:
  - if [[ $(npm -v) != $NPM_VERSION ]]; then npm install -g npm@${NPM_VERSION}; fi     # version check
  - if [[ $(yarn -v) != $YARN_VERSION ]]; then npm install -g yarn@${YARN_VERSION}; fi # version check
  - if [[ -z $(command -v rapid-build) ]]; then npm install -g rapid-build@5; fi       # if not installed

# Shared Heroku Settings
# ======================
deploy: &heroku
  provider: heroku
  skip_cleanup: true
  api_key:
    secure: wvQVtDqvU2LrnEw3Fre+3nGPsB+w+kPRbwxqmRCyKYIWXn0lcIyp8AHkAS+OcCJ3owvkWKNQ1+hChzvzxeAVra38f2uiX2DN5xiW+v7+VmLCHLvvOmbJISE/w23OVjC8HjWWWerx/owyyqPsdevZqnP3MnvHFXBhZDU7zGG5gdCWqkNaHxZlyhGrsLlRSomtNox2n1meZjaLn3MCuXN+jgC7zQ2wKnnAeIKIQw6lqaqubLJBA+fA2ztXgrp1H1V53zXQRGzqMPnxauwxiFzi6b1E9bXPbUOms8pK3XTfuyPyt8kyjj20LmlAlgUN7ce+pcB4bIgZgGu+Ek1wfB2CgTUhar5tjKFjnqgdfc3teZ5svcQxvUc5T3GQtdvovMJg6C58MASDY0RvZ3Zt7SyquvZ85clfeiy60Vs5k17TtCWhQ32/SQFQ4CQXFXtKj2R5If32Rhw2OrsUU0BQlsNy9XkDjnN53v7CFdNWp9gmkDnsTTOZy9CLRBrMhD0Morv0MOHAHHUhm0l4SnMHQ2mpCMt4BczMpU9Cjffzp1KOoyTlTqjYm95hNx1+WH63ElkTYU4Tec9kBle5YYayM6af5w2xOhpkGnGjQ++5ULU704e8bqx1tdTXZcvcvTqHjygFTlbmXHAh6Xz7+Aiz0/Uqy7lsMyOsqE2TQfW3dsPiFaM=

# ====================================
# SPECIFIC JOBS
# ====================================
# before_script runs after npm install
# Release job:
# Must be a valid semver tag.
# Examples: v1.0.0 or v1.0.0-beta.1
# ====================================
jobs:
  include:
    # Continuous
    # ==========
    - if: branch = continuous
      before_script:
        # STEPS (in order)
        # ================
        # Clone Component Repos
        # Setup Components
        # Setup Showcase
        # Build Showcase
        - node scripts/travis/continuous $RB_SHOWCASE_DIR $RB_COMPONENTS_DIR
      deploy:
        <<: *heroku
        app: rapid-build-ui-io-dev
        on:
          branch: continuous

    # Release
    # =======
    - if: tag =~ ^v(\d+\.)(\d+\.)(\d+)(-([A-Za-z]+\.)?(\d+\.)?(\d+\.)?(\d+))?$
      before_script:
        # STEPS (in order)
        # ================
        # Install Client
        # Install Server
        # Build Showcase
        - node scripts/travis/release $RB_SHOWCASE_DIR
      deploy:
        <<: *heroku
        app: rapid-build-ui-io-staging
        on:
          tags: true
