common:
	# build: server: false
	# build: client: false
	# browser: open: false, reload: false

	ports:
		server: 5000
		reload: 5001

	angular:
		moduleName: 'rapid-build'
		templateCache:
			dev: true
			useAbsolutePaths: true

	spa:
		autoInject: ['ngCloakStyles']
		src:
			filePath: 'spa.html'

	dist:
		server:
			fileName: 'app.js'

	extra:
		copy:
			client: [
				'examples/**'
				'node_modules/**'
			]
			server: [
				'data/**'
			]
		watch:
			client: [
				'examples/**'
				# TODO: investigate in rapid build
				# Not sure why but can't put /**/scripts/
				# Might have something to do with symlinks.
				# Listing them out for now to boost dev build performance.
				'node_modules/@rapid-build-ui/base/scripts/'
				'node_modules/@rapid-build-ui/form-control/scripts/'
				'node_modules/@rapid-build-ui/rb-alert/scripts/'
				'node_modules/@rapid-build-ui/rb-button/scripts/'
				'node_modules/@rapid-build-ui/rb-checkbox/scripts/'
				'node_modules/@rapid-build-ui/rb-checkboxes/scripts/'
				'node_modules/@rapid-build-ui/rb-code/scripts/'
				'node_modules/@rapid-build-ui/rb-dropdown/scripts/'
				'node_modules/@rapid-build-ui/rb-icon/scripts/'
				'node_modules/@rapid-build-ui/rb-input/scripts/'
				'node_modules/@rapid-build-ui/rb-modal/scripts/'
				'node_modules/@rapid-build-ui/rb-nav/scripts/'
				'node_modules/@rapid-build-ui/rb-popover/scripts/'
				'node_modules/@rapid-build-ui/rb-radios/scripts/'
				'node_modules/@rapid-build-ui/rb-table/scripts/'
				'node_modules/@rapid-build-ui/rb-textarea/scripts/'
				'node_modules/@rapid-build-ui/rb-textcurve/scripts/'
				'node_modules/@rapid-build-ui/rb-toggle/scripts/'
			]
			server: [
				'data/**'
			]

	exclude:
		from:
			cacheBust: [
				'node_modules/**'
			]
			minFile:
				styles: [
					'styles/themes/**'
				]
			spaFile:
				scripts: [
					'scripts/es-modules/**'
				]
				styles: [
					'styles/themes/*/*/*'
				]

	minify:
		spa:
			file: false
		client:
			js:
				es6: true
		server:
			js:
				es6: true
			json:
				enable: false
		html:
			options:
				ignoreCustomFragments: [
					/\s<rb-icon|<\/rb-icon>\s/gi
					/\s<rb-button|<\/rb-button>\s/gi
					/\s<rb-popover|<\/rb-popover>\s/gi
					/<rb-code\b[^>]*>(.|\n)*?<\/rb-code>/gi
					/\s<rba-copy|<\/rba-copy>\s/gi
					/\s<rba-install|<\/rba-install>\s/gi
					/disabled|hidden|multiple|nowrap|open|readonly|required|reversed|selected|sortable/gi # boolean attrs
				]

	order:
		scripts:
			last: [
				'scripts/bootstrap/bootstrap.js'
			]
		styles:
			first: [
				'styles/reset.css'
				'styles/grid.css'
			]