common:
	# build: server: false
	# browser: open: false, reload: false

	ports:
		server: 5000
		reload: 5001

	angular:
		moduleName: 'rapid-build'
		modules: ['ngclipboard']
		bootstrap: true
		templateCache:
			dev: true
			useAbsolutePaths: true

	spa:
		autoInject: ['ngCloakStyles']
		src:
			filePath: 'spa.html'

	extra:
		copy:
			client: [
				'node_modules/**'
			]
		watch:
			client: [
				'node_modules/@rapid-build-ui/'
			]

	exclude:
		from:
			cacheBust: [
				'node_modules/**'
			]

	minify:
		spa:
			file: false
		client:
			js:
				es6: true
		server:
			js:
				es6: true

	order: # build will merge this with dev or prod
		scripts:
			first: [
				'scripts/polyfills/*.*'
			]
		styles:
			first: [
				'styles/reset.css'
				'styles/grid.css'
			]

dev:
	order:
		scripts:
			first: [
				'node_modules/clipboard/dist/clipboard.js'
				'node_modules/ngclipboard/dist/ngclipboard.js'
			]

prod:
	order:
		scripts:
			first: [
				'node_modules/clipboard/dist/clipboard.min.js'
				'node_modules/ngclipboard/dist/ngclipboard.min.js'
			]