<div ng-controller="homeController" class="headlines">
	<section>
		<h1>
			Showcase Site for Rapid Build UI
		</h1>
		<h3 class="sub">
			<q>Web Components for the World!</q>
		</h3>
	</section>

	<section>
		<h3>What is Rapid Build UI?</h3>
		<p>
			Suite of web components<br>
			for rapid client-side development.
		</p>
	</section>

	<section>
		<h3 class="sub">Develop Rapidly!</h3>
		<img title="Shake n' Bake!"
			 class="bordered rounded"
			 src="/images/misc/shake-and-bake.jpg">
	</section>
</div>