/***************
 * RB-TEXTCURVE
 ***************/
rb-textcurve:not([id^='built__']) {
	.search {
		margin-right: 0;
	}

	/* Responsive
	 *************/
	@media (max-width: mapGet($gl-mq-list, xxs)) {
		.search {
			width: 130px;
		}
	}
	@media (max-width: mapGet($gl-mq-list, xxxs)) {
		.search {
			width: 100px;
		}
	}
}