<rb-nav
	vertical
	dividers
	responsive
	active="path"
	ng-controller="componentsNavController">

	<h3>Components</h3>
	<a href="/components/rb-alert">alert</a>
	<a href="/components/rb-button">button</a>
	<a href="/components/rb-checkbox">checkbox</a>
	<a href="/components/rb-checkboxes">checkboxes</a>
	<a href="/components/rb-icon">icon</a>
	<a href="/components/rb-input">input</a>
	<a href="/components/rb-modal">modal</a>
	<a href="/components/rb-nav">nav</a>
	<a href="/components/rb-popover">popover</a>
	<a href="/components/rb-radios">radios</a>

	<!-- TODO: DISPLAYS -->
	<!-- <h3>Todo (displays)</h3>
	<a href="/components/rb-badge">badge</a>
	<a href="/components/rb-progress">progress</a>
	<a href="/components/rb-notification">notification</a>
	<a href="/components/rb-tabs">tabs</a>
	<a href="/components/rb-textcurve">textcurve</a>
	<a href="/components/rb-toggle">toggle</a> -->

	<!-- TODO: DATASETS -->
	<!-- <h3>Todo (datasets)</h3>
	<a href="/components/rb-empty">empty</a>
	<a href="/components/rb-pagination">pagination</a>
	<a href="/components/rb-table">table</a> -->

	<!-- TODO: FORMS -->
	<!-- <h3>Todo (forms)</h3>
	<a href="/components/rb-checkbox">checkbox</a>
	<a href="/components/rb-checkboxes">checkboxes</a>
	<a href="/components/rb-dropdown">dropdown</a>
	<a href="/components/rb-label">label</a>
	<a href="/components/rb-password">password</a>
	<a href="/components/rb-search">search</a>
	<a href="/components/rb-textarea">textarea</a> -->
</rb-nav>
