/**************************
 * TESTING THEME: RB-ALERT
 **************************/
& {
	// Common
	--rb-alert-border-radius: 20px;
	--rb-alert-border-type:   dashed;
	--rb-alert-border-width:  10px;

	// BG Color
	--rb-alert-default-bg-color: pink;
	--rb-alert-danger-bg-color:  red;
	--rb-alert-info-bg-color:    yellow;
	--rb-alert-success-bg-color: green;
	--rb-alert-secondary-bg-color: grey;
	--rb-alert-warning-bg-color: blue;

	// Border Color
	--rb-alert-default-border-color: hotpink;
	--rb-alert-danger-border-color:  red;
	--rb-alert-info-border-color:    yellow;
	--rb-alert-secondary-border-color: black;
	--rb-alert-success-border-color: green;
	--rb-alert-warning-border-color: blue;

	// Color
	--rb-alert-default-color: red;
	--rb-alert-danger-color:  darkred;
	--rb-alert-info-color:    brown;
	--rb-alert-secondary-color: white;
	--rb-alert-success-color: darkgreen;
	--rb-alert-warning-color: darkblue;
}
