/****************************
 * RB-BUTTON - TESTING THEME
 ****************************/
& {
	// common
	--rb-button-border-radius: 20px;

	// bg color
	--rb-button-default-bg-color: pink;
	--rb-button-danger-bg-color:  red;
	--rb-button-info-bg-color:    lightblue;
	--rb-button-success-bg-color: green;
	--rb-button-warning-bg-color: orange;

	// bg color active
	--rb-button-default-active-bg-color: red;
	--rb-button-danger-active-bg-color:  yellow;
	--rb-button-info-active-bg-color:    red;
	--rb-button-success-active-bg-color: pink;
	--rb-button-warning-active-bg-color: grey;

	// bg color hover
	--rb-button-default-hover-bg-color: hotpink;
	--rb-button-danger-hover-bg-color:  pink;
	--rb-button-info-hover-bg-color:    grey;
	--rb-button-success-hover-bg-color: yellow;
	--rb-button-warning-hover-bg-color: yellow;

	// border color
	--rb-button-default-border-color: hotpink;
	--rb-button-danger-border-color:  blue;
	--rb-button-info-border-color:    blue;
	--rb-button-success-border-color: black;
	--rb-button-warning-border-color: red;

	// border color active
	--rb-button-default-active-border-color: black;
	--rb-button-danger-active-border-color:  hotpink;
	--rb-button-info-active-border-color:    black;
	--rb-button-success-active-border-color: red;
	--rb-button-warning-active-border-color: yellow;

	// border color hover
	--rb-button-default-hover-border-color: blue;
	--rb-button-danger-hover-border-color:  yellow;
	--rb-button-info-hover-border-color:    orange;
	--rb-button-success-hover-border-color: blue;
	--rb-button-warning-hover-border-color: blue;

	// color
	--rb-button-default-color: darkblue;
	--rb-button-danger-color:  orange;
	--rb-button-info-color:    blue;
	--rb-button-success-color: black;
	--rb-button-warning-color: darkblue;
}
