/****************************
 * TESTING THEME: RB-POPOVER
 ****************************/
rb-popover {
	// Common
	--rb-popover-border-radius: 15px;

	// Popover BG Color
	--rb-popover-default-caption-bg: pink;
	--rb-popover-danger-caption-bg:  red;
	--rb-popover-info-caption-bg:    lightblue;
	--rb-popover-success-caption-bg: green;
	--rb-popover-warning-caption-bg: orange;

	// Popover Color
	--rb-popover-default-text-color: darkblue;
	--rb-popover-danger-text-color:  green;
	--rb-popover-info-text-color:    grey;
	--rb-popover-success-text-color: black;
	--rb-popover-warning-text-color: darkblue;

	// Trigger Color
	--rb-popover-default-trigger-color: orange;
	--rb-popover-danger-trigger-color:  yellow;
	--rb-popover-info-trigger-color:    darkblue;
	--rb-popover-success-trigger-color: red;
	--rb-popover-warning-trigger-color: brown;
}