/*****************************
 * RB-POPOVER - TESTING THEME
 *****************************/
& {
	// common
	--rb-popover-border-radius: 20px;

	// popover bg color
	--rb-popover-default-bg-color: pink;
	--rb-popover-danger-bg-color:  red;
	--rb-popover-info-bg-color:    lightblue;
	--rb-popover-success-bg-color: green;
	--rb-popover-warning-bg-color: orange;

	// popover color
	--rb-popover-default-color: darkblue;
	--rb-popover-danger-color:  green;
	--rb-popover-info-color:    grey;
	--rb-popover-success-color: black;
	--rb-popover-warning-color: darkblue;

	// trigger color
	--rb-popover-default-trigger-color: orange;
	--rb-popover-danger-trigger-color:  yellow;
	--rb-popover-info-trigger-color:    darkblue;
	--rb-popover-success-trigger-color: red;
	--rb-popover-warning-trigger-color: brown;
}
