/*****************
 * DOCUMENT ROOTS
 *****************/
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll; // prevent page turn shift shock
}
body {
	margin: 0;
	padding: 0;
	color: $generalTextColor;
	font-size: $generalTextSize;
	line-height: 1.5;
	font-weight: 400;
	font-family: $generalFont;
}