/*****************
 * DOCUMENT ROOTS
 *****************/
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll; // prevent page turn shift shock
}
body {
	margin: 0;
	padding: 0;
	color: mapGet($palette, paynesGrey);
	font-size: 1rem; // browser default = 16px (usually)
	line-height: 1.5;
	font-weight: 400;
	font-family: mapGet($fonts, default);
}