/********************
 * LAYOUT CONTAINERS
 ********************/
main,
header.main,
footer.main {
	margin: 0;
	padding: 0 remy(32); // 38
	> [class*='col'] {
		&:first-child { padding-left:  0; }
		&:last-child  { padding-right: 0; }
	}
}

header.main {
	padding-top: remy(23);
	> [class*='col'] {
		&:first-child { padding-right: 0; }
		&:last-child  { padding-left:  0; }
	}
}

footer.main {
	padding-top:    remy(50);
	padding-bottom: remy(60);
}