/****************
 * LAYOUT FOOTER
 ****************/
footer.main {
	color: grey;
	text-align: center;
	background-color: #333;

	.rb-logo-link {
		display: inline-block;
		margin-bottom: remy(16);
	}

	.rb-version {
		display: block;
		// color: grey;
		font-weight: normal;
	}

	rb-nav {
		display: inline-block;
		margin-top: remy(16);
	}
}