/****************
 * LAYOUT FOOTER
 ****************/
footer.main {
	color: mapGet($palette, spanishGray);
	text-align: center;
	background-color: mapGet($palette, jet);

	.rb-logo-link {
		margin-bottom: remy(16);
	}

	.rb-slogan,
	.rb-version {
		display: block;
		font-weight: normal;
	}

	rb-nav {
		display: inline-block;
		margin-top: remy(16);
	}
}