/****************
 * LAYOUT FOOTER
 ****************/
footer.main {
	padding-top: remy(50);
	padding-bottom: remy(55);

	color: #999;
	background-color: #333;
	text-align: center;

	.rb-logo-link {
		display: inline-block;
		margin-bottom: remy(16);
	}

	.rb-version {
		display: block;
		// margin-bottom: remy(16);
		color: #666;
		font-weight: normal;
	}
}