/****************
 * LAYOUT HEADER
 ****************/
header.main {
	background-color: mapGet($palette, whiteSmoke);
	border-bottom: 1px solid mapGet($palette, platinum);

	/* Are on Grid Columns
	 **********************/
	.header-logo {
		align-self: center;
		h1 {
			position: relative;
			margin: 0;
			line-height: 0;
			strong { display: none; } // accessibility
		}
		.rb-logo {
			height: 38px;
		}
	}
	.header-nav {
		flex: none;
		align-self: flex-end;
		rb-nav {
			position: relative;
			top: 1px; // overlap bottom header border
			white-space: nowrap;
		}
	}
}

/* Responsive
 *************/
header.main {
	min-height: 75px;

	@media (max-width: 760px) {
		.header-logo {
			h1 { top: -2px; }
		}
		.header-nav {
			align-self: center;
			rb-nav { top: -2px };
		}
	}
	@media (min-width: 768px) {
		min-height: 82px;
		.header-logo {
			.rb-logo { height: 42px; }
		}
	}
	@media (min-width: 1024px) {
		min-height: 86px;
		.header-logo {
			.rb-logo { height: 45px; }
		}
	}
	@media (min-width: 1280px) {
		.header-logo {
			.rb-logo { height: 46px; }
		}
	}
}