/****************
 * LAYOUT HEADER
 ****************/
header.main {
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	min-height: 105px;

	// logo
	h1 {
		margin: 0 0 remy(20);
		line-height: 0;
		strong { display: none; }
	}

	.nav {
		flex: none;
		align-self: flex-end;
		rb-nav {
			position: relative;
			top: 1px; // overlap bottom header border
			white-space: nowrap;
		}
	}

	/* Responsive
	 *************/
	@media (max-width: mapGet($gl-mq-list, sm)) {
		.nav {
			align-self: flex-start;
		}
	}
}