/****************
 * SHARED LAYOUT
 ****************/
header.main {
	padding: remy(23) remy(29) 0 remy(35);
}

main {
	min-height:    remy(450);
	padding-left:  remy(38);
	padding-right: remy(29);
}

footer.main {
	padding-left:  remy(32);
	padding-right: remy(32);
}

/* Sticky Footer
 ****************/
body {
	min-height: 100vh;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}