/****************
 * SHARED LAYOUT
 ****************/
html {
	overflow-y: scroll; // prevent page turn shift shock
}

/* Sticky Footer
 ****************/
html,
body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
.app-main {
	flex: 1 0 auto;
}
footer.main {
	flex-shrink: 0;
}

/* Flex Grow Main
 *****************/
.app-main {
	display: flex;
	flex-direction: column;
	main {
		flex: 1 0 auto;
	}
}

/* Main Containers
 ******************/
header.main {
	padding: remy(23) remy(29) 0 remy(35);
}

main {
	padding-left:  remy(38);
	padding-right: remy(38);
}

footer.main {
	padding-left:  remy(32);
	padding-right: remy(32);
}