/**************
 * LAYOUT MAIN
 **************/
main {
	padding-top: 0;
	padding-bottom: remy(50);
	min-height: remy(450);

	// page header
    h1:first-of-type {
    	margin: 0 0 remy(25);
    	padding: 0 0 remy(10);
    	border-bottom: 1px solid #e3e3e3; // ddd | e6e6e6
    }
}