/**********
 * PUSHERS
 **********/
// full pushers
.pusher          { padding: mapGet($spacers, default); }
.tiny-pusher     { padding: mapGet($spacers, tiny); }
.mini-pusher     { padding: mapGet($spacers, mini); }
.small-pusher    { padding: mapGet($spacers, small); }
.large-pusher    { padding: mapGet($spacers, large); }
.xlarge-pusher   { padding: mapGet($spacers, xlarge); }
.xxlarge-pusher  { padding: mapGet($spacers, xxlarge); }
.xxxlarge-pusher { padding: mapGet($spacers, xxxlarge); }
.giant-pusher    { padding: mapGet($spacers, giant); }
.xgiant-pusher   { padding: mapGet($spacers, xgiant); }
.xxgiant-pusher  { padding: mapGet($spacers, xxgiant); }
.xxxgiant-pusher { padding: mapGet($spacers, xxxgiant); }
.huge-pusher     { padding: mapGet($spacers, huge); }
.xhuge-pusher    { padding: mapGet($spacers, xhuge); }
.xxhuge-pusher   { padding: mapGet($spacers, xxhuge); }

// bottom pushers
.bottom-pusher          { padding-bottom: mapGet($spacers, default); }
.tiny-bottom-pusher     { padding-bottom: mapGet($spacers, tiny); }
.mini-bottom-pusher     { padding-bottom: mapGet($spacers, mini); }
.small-bottom-pusher    { padding-bottom: mapGet($spacers, small); }
.large-bottom-pusher    { padding-bottom: mapGet($spacers, large); }
.xlarge-bottom-pusher   { padding-bottom: mapGet($spacers, xlarge); }
.xxlarge-bottom-pusher  { padding-bottom: mapGet($spacers, xxlarge); }
.xxxlarge-bottom-pusher { padding-bottom: mapGet($spacers, xxxlarge); }
.giant-bottom-pusher    { padding-bottom: mapGet($spacers, giant); }
.xgiant-bottom-pusher   { padding-bottom: mapGet($spacers, xgiant); }
.xxgiant-bottom-pusher  { padding-bottom: mapGet($spacers, xxgiant); }
.xxxgiant-bottom-pusher { padding-bottom: mapGet($spacers, xxxgiant); }
.huge-bottom-pusher     { padding-bottom: mapGet($spacers, huge); }
.xhuge-bottom-pusher    { padding-bottom: mapGet($spacers, xhuge); }
.xxhuge-bottom-pusher   { padding-bottom: mapGet($spacers, xxhuge); }

// top pushers
.top-pusher          { padding-top: mapGet($spacers, default); }
.tiny-top-pusher     { padding-top: mapGet($spacers, tiny); }
.mini-top-pusher     { padding-top: mapGet($spacers, mini); }
.small-top-pusher    { padding-top: mapGet($spacers, small); }
.large-top-pusher    { padding-top: mapGet($spacers, large); }
.xlarge-top-pusher   { padding-top: mapGet($spacers, xlarge); }
.xxlarge-top-pusher  { padding-top: mapGet($spacers, xxlarge); }
.xxxlarge-top-pusher { padding-top: mapGet($spacers, xxxlarge); }
.giant-top-pusher    { padding-top: mapGet($spacers, giant); }
.xgiant-top-pusher   { padding-top: mapGet($spacers, xgiant); }
.xxgiant-top-pusher  { padding-top: mapGet($spacers, xxgiant); }
.xxxgiant-top-pusher { padding-top: mapGet($spacers, xxxgiant); }
.huge-top-pusher     { padding-top: mapGet($spacers, huge); }
.xhuge-top-pusher    { padding-top: mapGet($spacers, xhuge); }
.xxhuge-top-pusher   { padding-top: mapGet($spacers, xxhuge); }

// left pushers
.left-pusher          { padding-left: mapGet($spacers, default); }
.tiny-left-pusher     { padding-left: mapGet($spacers, tiny); }
.mini-left-pusher     { padding-left: mapGet($spacers, mini); }
.small-left-pusher    { padding-left: mapGet($spacers, small); }
.large-left-pusher    { padding-left: mapGet($spacers, large); }
.xlarge-left-pusher   { padding-left: mapGet($spacers, xlarge); }
.xxlarge-left-pusher  { padding-left: mapGet($spacers, xxlarge); }
.xxxlarge-left-pusher { padding-left: mapGet($spacers, xxxlarge); }
.giant-left-pusher    { padding-left: mapGet($spacers, giant); }
.xgiant-left-pusher   { padding-left: mapGet($spacers, xgiant); }
.xxgiant-left-pusher  { padding-left: mapGet($spacers, xxgiant); }
.xxxgiant-left-pusher { padding-left: mapGet($spacers, xxxgiant); }
.huge-left-pusher     { padding-left: mapGet($spacers, huge); }
.xhuge-left-pusher    { padding-left: mapGet($spacers, xhuge); }
.xxhuge-left-pusher   { padding-left: mapGet($spacers, xxhuge); }

// right pushers
.right-pusher          { padding-right: mapGet($spacers, default); }
.tiny-right-pusher     { padding-right: mapGet($spacers, tiny); }
.mini-right-pusher     { padding-right: mapGet($spacers, mini); }
.small-right-pusher    { padding-right: mapGet($spacers, small); }
.large-right-pusher    { padding-right: mapGet($spacers, large); }
.xlarge-right-pusher   { padding-right: mapGet($spacers, xlarge); }
.xxlarge-right-pusher  { padding-right: mapGet($spacers, xxlarge); }
.xxxlarge-right-pusher { padding-right: mapGet($spacers, xxxlarge); }
.giant-right-pusher    { padding-right: mapGet($spacers, giant); }
.xgiant-right-pusher   { padding-right: mapGet($spacers, xgiant); }
.xxgiant-right-pusher  { padding-right: mapGet($spacers, xxgiant); }
.xxxgiant-right-pusher { padding-right: mapGet($spacers, xxxgiant); }
.huge-right-pusher     { padding-right: mapGet($spacers, huge); }
.xhuge-right-pusher    { padding-right: mapGet($spacers, xhuge); }
.xxhuge-right-pusher   { padding-right: mapGet($spacers, xxhuge); }

/* REMOVAL (last!)
 **********/
.no-pusher          { padding: mapGet($spacers, nil); }
.no-top-pusher      { padding-top: mapGet($spacers, nil); }
.no-left-pusher     { padding-left: mapGet($spacers, nil); }
.no-right-pusher    { padding-right: mapGet($spacers, nil); }
.no-bottom-pusher   { padding-bottom: mapGet($spacers, nil); }
.no-side-pusher     { @extend .no-left-pusher; @extend .no-right-pusher; }
.no-vertical-pusher { @extend .no-top-pusher; @extend .no-bottom-pusher; }