/******************
 * UTILITY CLASSES
 ******************/
/* Displays
 ***********/
.block {
	display: block !important;
}
.inline-block {
	display: inline-block !important;
}

/* Positioning
 **************/
.absolute {
	position: absolute !important;
}
.relative {
	position: relative !important;
}

/* Flexbox
 **********/
.flex {
	display: flex !important;
}
.inline-flex {
	display: inline-flex !important;
}
.row-reverse {
	flex-direction: row-reverse !important;
}

/* State Texts
 **************/
.error-text {
	color: #db3a4d !important;
}

/* Text Align
 *************/
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}

/* Vertical Align
 *****************/
.valign-baseline {
	vertical-align: baseline !important;
}
.valign-bottom {
	vertical-align: bottom !important;
}
.valign-middle {
	vertical-align: middle !important;
}
.valign-top {
	vertical-align: top !important;
}