<div class="control"
	 ng-class="[inline !== undefined ? 'inline' : '',
				vertical !== undefined ? 'vertical' : '',
				stacked !== undefined ? 'stacked' : ''
			   ].join(' ')">
	<label class="caption" ng-bind="caption"></label>
	<div class="sub-controls">
		<input type="hidden" name="{{name}}" ng-model="model">
		<label class="sub-label" ng-repeat="item in data">
			<rba-checkbox
				checkboxes
				sub-caption="{{item}}"
				click="select(item, $index)"
				checked="model.includes(item)">
			</rba-checkbox>
		</label>
	</div>
</div>