<div class="control"
	 ng-class="[inline !== undefined ? 'inline' : '',
				vertical !== undefined ? 'vertical' : '',
			   ].join(' ')">
	<label class="caption" ng-bind="caption"></label>
	<div class="sub-controls">
		<label class="sub-label">
			<input
				for="radio"
				type="radio"
				name="{{name}}"
				ng-click="select(value); click({$event: $event});"
				ng-checked="model !== undefined && model === value">
			<input
				for="radios"
				type="radio"
				ng-checked="checked"
				ng-click="click({$event: $event})">
			<span class="sub-caption" ng-bind="subCaption"></span>
		</label>
	</div>
</div>