/*******
 * CODE
 *******/
.rb-code {
	position: relative;

	/* Hidden Textarea
	 * trick to copy hidden textarea
	 ********************************/
	textarea {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		border-color: transparent; // can't copy with border none
		display: block !important;
		// height: 200px;
	}

	/* Code
	 *******/
	.CodeMirror {
		height: auto;
		border-radius: 5px;
		line-height: 18px;
		text-align: left;
		font-size: 11.5px;
		font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
		// to make it look good on mac and windows
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 600;
	}

	/* One Dark Theme (if we want it darker)
	 *****************/
	// .cm-s-one-dark,
	// .cm-s-one-dark .CodeMirror-gutter,
	// .cm-s-one-dark .CodeMirror-gutters {
	// 	background-color: #141414;
	// }

	/* Caption
	 **********/
	h5 {
		display: flex;
		align-items: baseline;
		padding: 0 4.5% 0 6px;
		margin-bottom: 6px;
	}

	/* Actions
	 **********/
	.actions {
		margin: 0 0 0 8px;
		text-transform: none;
		font-size: .97em;
	}

	/* Placeholder
	 **************/
	.CodeMirror-placeholder {
		filter: brightness(50%);
	}

	/* Readonly
	 ***********/
	&.readonly .CodeMirror {
		&::before {
			position: absolute;
			top: -1px;
			right: 4px;
			z-index: 2;
			opacity: 0;
			font-size: 12px;
			font-weight: normal;
			font-family: $generalFont;
			letter-spacing: .1px;
			transition: opacity .8s;
			content: 'readonly';
		}
		&:hover::before {
			opacity: .8;
		};
	}

	/* Mixins
	 *********/
	@mixin codeHeight($ht) {
		$ht: #{$ht}#{'px'};
		.CodeMirror { min-height: $ht; }
		&.scroll .CodeMirror { height: $ht; } // code scrolls after surpassing min-height
	}

	/* Height Option
	 ****************/
	&.teeny-height      { @include codeHeight(44);  }
	&.tiny-height       { @include codeHeight(62);  }
	&.mini-height       { @include codeHeight(80);  }
	&.short-height      { @include codeHeight(98);  }
	&.tall-height       { @include codeHeight(134); }
	&.xtall-height      { @include codeHeight(152); }
	&.xxtall-height     { @include codeHeight(170); }
	&.xxxtall-height    { @include codeHeight(187); }
	&.xxxxtall-height   { @include codeHeight(206); }
	&.xxxxxtall-height  { @include codeHeight(224); }
	&.xxxxxxtall-height { @include codeHeight(242); }
	&.giant-height      { @include codeHeight(332); }
	&.xgiant-height     { @include codeHeight(350); }
	&.xxgiant-height    { @include codeHeight(368); }
	&.xxxgiant-height   { @include codeHeight(404); }
	&.jumbo-height      { @include codeHeight(493); }
	&.xjumbo-height     { @include codeHeight(584); }
	&.xxjumbo-height    { @include codeHeight(656); }
}