/*******
 * CODE
 *******/
.rb-code {
	position: relative;
	textarea { // Hidden Textarea (trick to copy hidden textarea)
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		border-color: mapGet($palette, trans); // can't copy with border none
		display: block !important;
	}
	/* Testing (uncomment to see textarea)
	 **********/
	// textarea {
	// 	z-index: 1;
	// 	top: 105%;
	// 	width: 100%;
	// 	height: 100%;
	// 	display: block !important;
	// 	opacity: 1;
	// 	border-color: initial;
	// }
}

/* Title Bar
 ************/
.rb-code {
	.title-bar {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 5px 13px 8px 8px;
		min-height: 17.5px; // copy icon height, prevents shift shock
		line-height: 16.5px;
		color: mapGet($palette, spanishGray);
		background: mapGet($palette, darkGunmetal);
		border-bottom: 1px solid mapGet($palette, onyx);
		> * {
			flex: auto; // grow items to container width
		}
		h3 {
			align-self: flex-end;
			margin: 0;
			padding: 0;
			color: inherit;
			text-shadow: none;
			line-height: inherit;
			letter-spacing: .5px;
			word-break: break-all;
			text-transform: uppercase;
			~ .actions {
				margin-left: 8px;
			}
		}
		.actions {
			text-transform: none;
			text-align: right;
			> * {
				line-height: inherit;
			}
		}
	}
}

/* Fonts
 ********/
.rb-code {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	.title-bar,
	&.readonly .CodeMirror::before {
		font-family: mapGet($fonts, default);
	}
	.title-bar {
		h3 {
			font-size: 13px;
			font-weight: 700;
		}
		.actions {
			font-size: 14.5px;
		}
	}
	&.readonly .CodeMirror::before {
		font-size: 12px;
		font-weight: normal;
	}
	.CodeMirror {
		font-size: 11.5px;
		font-weight: 700;
		font-family: mapGet($fonts, monospaced);
	}
}


/* Border Radius
 ****************/
.rb-code {
	$r: 5px;
	.title-bar {
		border-radius: $r $r 0 0;
		~ .CodeMirror {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	.CodeMirror {
		border-radius: $r;
	}
}

/* CodeMirror
 *************/
.rb-code {
	.CodeMirror {
		height: auto;
		line-height: 18px;
		text-align: left;
	}

	/* One Dark Theme (if we want it darker)
	 *****************/
	// .cm-s-one-dark,
	// .cm-s-one-dark .CodeMirror-gutter,
	// .cm-s-one-dark .CodeMirror-gutters {
	// 	background-color: #141414; // licorice
	// }

	// Placeholder
	.CodeMirror-placeholder {
		filter: brightness(50%);
	}

	// Scrollbar
	.CodeMirror-scroll {
		-webkit-overflow-scrolling: touch; // momentum scrolling on iOS
	}
	.CodeMirror-scrollbar-filler {
		// (windows only)
		// shows bottom right square when
		// vertical and horizontal scrollbars are out
		background-color: transparent;
	}
	.CodeMirror-hscrollbar,
	.CodeMirror-vscrollbar {
		// normalize scrollbar look (mac | windows)
		// scrollbar- props only supported by firefox
		scrollbar-width: thin;
		scrollbar-color: #00000080 transparent; // 1st thumb, 2nd track

		&::-webkit-scrollbar,
		&::-webkit-scrollbar-thumb {
			border-radius: 100px;
		}
		&::-webkit-scrollbar {
			width:  8px;
			height: 8px;
			&:hover {
				background: #00000017;
			}
		}
		&::-webkit-scrollbar-thumb {
			background: #00000080;
			&:active {
				background: #0000009c; // darker onclick
			}
			&:vertical   { min-height: 10px; }
			&:horizontal { min-width:  10px; }
		}
	}

	// Readonly
	&.readonly .CodeMirror {
		&::before {
			position: absolute;
			top: -2px;
			right: 4px;
			z-index: 2;
			opacity: 0;
			letter-spacing: .1px;
			transition: opacity .8s;
			content: 'readonly';
		}
		&:hover::before {
			opacity: .6;
		};
	}
}

/* CodeMirror Height
 ********************/
.rb-code {
	@mixin codeHeight($ht) {
		$ht: #{$ht}#{'px'};
		.CodeMirror { min-height: $ht; }
		&.scroll .CodeMirror { height: $ht; } // code scrolls after surpassing min-height
	}

	// Height Options
	&.teeny-height      { @include codeHeight(44);  }
	&.tiny-height       { @include codeHeight(62);  }
	&.mini-height       { @include codeHeight(80);  }
	&.short-height      { @include codeHeight(98);  }
	&.tall-height       { @include codeHeight(134); }
	&.xtall-height      { @include codeHeight(152); }
	&.xxtall-height     { @include codeHeight(170); }
	&.xxxtall-height    { @include codeHeight(187); }
	&.xxxxtall-height   { @include codeHeight(206); }
	&.xxxxxtall-height  { @include codeHeight(224); }
	&.xxxxxxtall-height { @include codeHeight(242); }
	&.giant-height      { @include codeHeight(332); }
	&.xgiant-height     { @include codeHeight(350); }
	&.xxgiant-height    { @include codeHeight(368); }
	&.xxxgiant-height   { @include codeHeight(404); }
	&.jumbo-height      { @include codeHeight(493); }
	&.xjumbo-height     { @include codeHeight(584); }
	&.xxjumbo-height    { @include codeHeight(656); }
}