/****************
 * POPOVER VALUE
 ****************/
.rb-popover-value {
	display: inline-block;
	white-space: pre-wrap;
	word-break: break-all;
	line-height: 18px;
	letter-spacing: .1px;
	font-size: 11px;
	font-family: mapGet($fonts, monospaced);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}