/*************
 * TEXT CURVE
 *************/
// Variables
$curveWidth:  31px; // if changed, update textCurve.es6 Help.setCaptionWidth()
$curveHeight: 22px;

// Mixins
@mixin setTextCurveKind($kind, $color, $bgColor, $bgPos) {
	&.#{$kind} {
		> .caption {
			color: $color;
			background-color: $bgColor;
			&:before { // the curve
				background-position: 0 (-$bgPos * $curveHeight);
			}
		}
	}
}

.rb-text-curve {
	display: block;
	border: none;
	text-align: left;
	> .shell {
		> .content {
			display: inline-block;
			box-sizing: border-box;
			min-height: 25px;
			padding: 15px 70px 0 0;
			border-top: 1px solid #e6e6e6;
		}
		> .caption {
			position: relative;
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			min-height: $curveHeight;
			margin: 0 0 0 $curveWidth;
			padding: 2px 6px 0 0;
			color: #7b7b7b;
			font-size: 13px;
			font-weight: normal;
			font-family: $generalFont;
			line-height: 18px;
			text-align: right;
			text-shadow: none;
			text-transform: none;
			white-space: nowrap;
			border-bottom: 1px solid #e6e6e6;
			border-top-right-radius: 5px;
			// THE CURVE
			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				left: -$curveWidth;
				width: $curveWidth;
				height: $curveHeight;
				background: transparent url('../images/sprites/text-curve.png') no-repeat 0 0;
			}
		}
	}
}

/* KINDS
 ********/
.rb-text-curve {
	> .shell {
		@include setTextCurveKind(critical, $errorTextColor,   $errorBgColor,   1);
		@include setTextCurveKind(info,     $infoTextColor,    $infoBgColor,    2);
		@include setTextCurveKind(success,  $successTextColor, $successBgColor, 3);
		@include setTextCurveKind(warning,  $warningTextColor, $warningBgColor, 4);
	}
}

/* Display Options
 ******************/
.rb-text-curve {
	&.display-inline {
		display: inline-block;
		margin-right: 15px;
		> .shell {
			> .content {
				padding-right: 15px;
			}
			> .caption {
				width: auto !important;
				padding-right: 8px;
			}
		}
	}
}

/* Spacing Options
 ******************/
.rb-text-curve {
	> .shell {
		&.small-spacing {
			> .content {
				padding-top: 5px;
			}
		}
	}
}

/* Predefined Tags
 ******************/
caption.rb-text-curve {
	display: table-caption;
}
legend.rb-text-curve {
	line-height: 18px;
}