<div
	ng-view
	ng-if="rbLayout == 'superman'"
	class="main-content col-8_lg-11_md-12">
</div>

<div
	ng-if="rbLayout == 'wolverine'"
	class="col-8_lg-11_md-12">
	<div class="grid-equalHeight-noBottom">
		<div class="col">
			<aside class="main">
				<rb-nav active="path" vertical dividers caption="Components">
					<a href="/components/rb-button">button</a>
					<a href="/components/rb-icon">icon</a>
					<a href="/components/rb-nav">nav</a>
					<a href="/components/rb-popover">popover</a>
				</rb-nav>
			</aside>
		</div>
		<div
			ng-view
			class="main-content col-10">
		</div>
	</div>
</div>