<div ng-controller="crudController">
	<header class="page-header with-source-nav">
		<h1>
			C<sub>reate</sub>
			R<sub>ead</sub>
			U<sub>pdate</sub>
			D<sub>elete</sub>
		</h1>
		<rba-source-nav source="CRUD_EXAMPLE_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- EXAMPLE -->
	<section class="grid">
		<!-- SUPERHEROES -->
		<div class="col-3_md-4 nowrap">
			<h5>
				<rb-button
					text
					data-new-hero
					icon-size=".85"
					icon-source="solid"
					icon-kind="plus-circle"
					title="Create Superhero">
				</rb-button>
				Superheroes
			</h5>
			<rb-nav dividers vertical>
				<a
					ng-click="crud.read(hero.id)"
					ng-repeat="hero in superheroes"
					ng-class="{ active: hero.id === superhero.id }">
					{{hero.name}}
				</a>
			</rb-nav>
		</div>

		<!-- CRUD FORM -->
		<div class="col" data-push-left="off-1">
			<h5>
				{{ !!superhero.id ? 'Update' : 'Create' }} Hero
			</h5>
			<form ng-submit="save($event)">
				<rb-input
					rb-bind
					label="Name"
					value="superhero.name"
					validation='["required"]'>
				</rb-input>
				<rb-radios
					toggle
					rb-bind
					label="Gender"
					data="{{genders}}"
					value="superhero.gender"
					validation='["required"]'>
				</rb-radios>
				<rb-checkbox
					rb-bind
					value="superhero.fav"
					sublabel="My Favorite">
				</rb-checkbox>

				<!-- BUTTONS -->
				<section class="buttons">
					<rb-button
						icon-size=".96"
						icon-kind="save"
						type="submit">
						Save
					</rb-button>
					<rb-button
						kind="danger"
						icon-size=".95"
						data-delete-hero
						icon-kind="trash-alt"
						ng-show="!!superhero.id">
						Delete
					</rb-button>
				</section>
			</form>
		</div>
	</section>
</div>
