<div ng-controller="formValidationController">
	<header class="page-header">
		<h1>
			Form Validation
		</h1>
	</header>

	<!-- EXAMPLE -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-7">

			<textarea
				scroll
				rba-code
				model="markup"
				actions="copy"
				caption="html"
				height="xxjumbo">
				<form action>
					<rb-input
						name="hero"
						label="Superhero"
						validation='["required"]'>
					</rb-input>
					<rb-checkbox
						name="awesome"
						label="Superman"
						sublabel="is awesome"
						validation='["required"]'>
					</rb-checkbox>
					<rb-checkboxes
						name="favs"
						label="Your Favs"
						validation='["required"]'
						data='["batman","superman","wolverine"]'>
					</rb-checkboxes>
					<rb-radios
						toggle
						name="best"
						label-key="name"
						label="The Best"
						validation='["required"]'
						data='[
							{ "id": 1, "name": "batman" },
							{ "id": 2, "name": "superman" },
							{ "id": 3, "name": "wolverine" }
						]'>
					</rb-radios>
					<rb-textarea
						name="description"
						label="Description"
						validation='[
						"required"
					]'></rb-textarea>
					<rb-button type="submit">
						Submit
					</rb-button>
				</form>
			</textarea>

		</div>
	</section>
</div>
