/*******************
 * WOLVERINE LAYOUT
 *******************/
.wolverine-layout {
	padding-left: 0;

	.main-content {
		padding-top: remy(10);
	}
}

/* Responsive
 *************/
@media (max-width: mapGet($gl-mq-list, sm)) {
	.wolverine-layout {
		padding-left: $gl-gutter;

		// columns are stacked
		// so remove extra space
		> [class*='col'] {
			padding-left: 0;
			padding-right: 0;

			// make nav column last
			&:first-of-type {
				order: 2;
			}
		}
	}
}