/************************
 * ALINA THEME: RB-ALERT
 ************************/
& {
	// Common
	--rb-alert-border-radius: 5px;
	--rb-alert-border-type:   solid;
	--rb-alert-border-width:  1px;

	// BG Color
	--rb-alert-default-bg-color: #f0ebfa;
	--rb-alert-danger-bg-color:  #ffb3b3;
	--rb-alert-info-bg-color:  #cce6ff;
	--rb-alert-success-bg-color: #e6fff7;
	--rb-alert-warning-bg-color: #ffdacc;

	// Border Color
	--rb-alert-default-border-color: #e0d6f5;
	--rb-alert-danger-border-color:  #ff9999;
	--rb-alert-info-border-color: #b3d9ff;
	--rb-alert-success-border-color: #b3ffeffc;
	--rb-alert-warning-border-color: #ffc8b3;

	// Color
	--rb-alert-default-color: #291452;
	--rb-alert-danger-color:  #800000;
	--rb-alert-info-color: #00264d;
	--rb-alert-success-color: #006644;
	--rb-alert-warning-color: #661b00;
}
