/*************************
 * ALINA THEME: RB-BUTTON
 *************************/
rb-button {
	// Common
	--rb-button-border-radius: 4px;

	// BG Color
	--rb-button-default-bg:   #f0ebfa;
	--rb-button-danger-bg:    #ffe6f3;
	--rb-button-info-bg:      #ccf2ff;
	--rb-button-secondary-bg: #cefdce;
	--rb-button-success-bg:   #d9f2e4;
	--rb-button-warning-bg:   #ffddb3;

	// BG Color Active
	--rb-button-default-bg-active:   #b39ae5;
	--rb-button-danger-bg-active:    #ff80c3;
	--rb-button-info-bg-active:      #33ccff;
	--rb-button-secondary-bg-active: #6cf96c;
	--rb-button-success-bg-active:   #79d2a1;
	--rb-button-warning-bg-active:   #ffaf4d;

	// BG Color Hover
	--rb-button-default-bg-hover:   #e0d6f5;
	--rb-button-danger-bg-hover:    #ffcce7;
	--rb-button-info-bg-hover:      #99e6ff;
	--rb-button-secondary-bg-hover: #9dfb9d;
	--rb-button-success-bg-hover:   #b3e6c9;
	--rb-button-warning-bg-hover:   #ffc680;

	// Border Color
	--rb-button-default-border-color:   #e0d6f5;
	--rb-button-danger-border-color:    #ffcce7;
	--rb-button-info-border-color:      #b3ecff;
	--rb-button-secondary-border-color: #9dfb9d;
	--rb-button-success-border-color:   #b3e6c9;
	--rb-button-warning-border-color:   #ffd199;

	// Border Color Active
	--rb-button-default-border-color-active:   #a385e0;
	--rb-button-danger-border-color-active:    #ff66b8;
	--rb-button-info-border-color-active:      #00bfff;
	--rb-button-success-border-color-active:   #53c687;
	--rb-button-secondary-border-color-active: #54f854;
	--rb-button-warning-border-color-active:   #ff981a;

	// Border Color Hover
	--rb-button-default-border-color-hover:   #d1c2f0;
	--rb-button-danger-border-color-hover:    #ffb3db;
	--rb-button-info-border-color-hover:      #80dfff;
	--rb-button-secondary-border-color-hover: #85fa85;
	--rb-button-success-border-color-hover:   #8cd9af;
	--rb-button-warning-border-color-hover:   #ffba66;

	// Color
	--rb-button-default-text-color:   #291452;
	--rb-button-danger-text-color:    #800044;
	--rb-button-info-text-color:      #004d66;
	--rb-button-secondary-text-color: #023102;
	--rb-button-success-text-color:   #194d30;
	--rb-button-warning-text-color:   #663800;
}