/*************************
 * ALINA THEME: RB-BUTTON
 *************************/
rb-button {
	// Common
	--rb-button-border-radius: 4px;

	// BG
	--rb-button-default-bg: #f0ebfa;
	--rb-button-danger-bg:  #ffe6f3;
	--rb-button-info-bg:    #ccf2ff;
	--rb-button-neutral-bg: #e0e0eb;
	--rb-button-success-bg: #d9f2e4;
	--rb-button-warning-bg: #ffddb3;

	// BG Hover
	--rb-button-default-bg-hover: #e0d6f5;
	--rb-button-danger-bg-hover:  #ffcce7;
	--rb-button-info-bg-hover:    #99e6ff;
	--rb-button-neutral-bg-hover: #c2c2d6;
	--rb-button-success-bg-hover: #b3e6c9;
	--rb-button-warning-bg-hover: #ffc680;

	// BG Active
	--rb-button-default-bg-active: #b39ae5;
	--rb-button-danger-bg-active:  #ff80c3;
	--rb-button-info-bg-active:    #33ccff;
	--rb-button-neutral-bg-active: #b3b3cc;
	--rb-button-success-bg-active: #79d2a1;
	--rb-button-warning-bg-active: #ffaf4d;

	// Border Color
	--rb-button-default-border-color: #e0d6f5;
	--rb-button-danger-border-color:  #ffcce7;
	--rb-button-info-border-color:    #b3ecff;
	--rb-button-neutral-border-color: #d9d9d9;
	--rb-button-success-border-color: #b3e6c9;
	--rb-button-warning-border-color: #ffd199;

	// Border Color Hover
	--rb-button-default-border-color-hover: #d1c2f0;
	--rb-button-danger-border-color-hover:  #ffb3db;
	--rb-button-info-border-color-hover:    #80dfff;
	--rb-button-neutral-border-color-hover: #b3b3cc;
	--rb-button-success-border-color-hover: #8cd9af;
	--rb-button-warning-border-color-hover: #ffba66;

	// Border Color Active
	--rb-button-default-border-color-active: #a385e0;
	--rb-button-danger-border-color-active:  #ff66b8;
	--rb-button-info-border-color-active:    #00bfff;
	--rb-button-neutral-border-color-active: #a6a6a6;
	--rb-button-success-border-color-active: #53c687;
	--rb-button-warning-border-color-active: #ff981a;

	// Text Color
	--rb-button-default-text-color: #291452;
	--rb-button-danger-text-color:  #800044;
	--rb-button-info-text-color:    #004d66;
	--rb-button-neutral-text-color: #023102;
	--rb-button-success-text-color: #194d30;
	--rb-button-warning-text-color: #663800;

	// Text Color Active
	--rb-button-default-text-color-active: #291452;
	--rb-button-danger-text-color-active:  #800044;
	--rb-button-info-text-color-active:    #004d66;
	--rb-button-neutral-text-color-active: #023102;
	--rb-button-success-text-color-active: #194d30;
	--rb-button-warning-text-color-active: #663800;

	// Text Button Colors
	--rb-button-default-text-button-color: #a385e0;
	--rb-button-danger-text-button-color:  #ff66b8;
	--rb-button-info-text-button-color:    #00bfff;
	--rb-button-neutral-text-button-color: #a6a6a6;
	--rb-button-success-text-button-color: #53c687;
	--rb-button-warning-text-button-color: #ff981a;

	// Text Button Hover Colors
	--rb-button-default-text-button-color-hover: #d1c2f0;
	--rb-button-danger-text-button-color-hover:  #ffb3db;
	--rb-button-info-text-button-color-hover:    #80dfff;
	--rb-button-neutral-text-button-color-hover: #b3b3cc;
	--rb-button-success-text-button-color-hover: #8cd9af;
	--rb-button-warning-text-button-color-hover: #ffba66;
}