/*************************
 * ALINA THEME: RB-BUTTON
 *************************/
rb-button {
	// Common
	--rb-button-border-radius: 4px;

	// BG Color
	--rb-button-default-bg-color: #f0ebfa;
	--rb-button-danger-bg-color:  #ffe6f3;
	--rb-button-info-bg-color: #ccf2ff;
	--rb-button-secondary-bg-color: #cefdce;
	--rb-button-success-bg-color: #d9f2e4;
	--rb-button-warning-bg-color: #ffddb3;

	// BG Color Active
	--rb-button-default-active-bg-color: #b39ae5;
	--rb-button-danger-active-bg-color:  #ff80c3;
	--rb-button-info-active-bg-color: #33ccff;
	--rb-button-secondary-active-bg-color: #6cf96c;
	--rb-button-success-active-bg-color: #79d2a1;
	--rb-button-warning-active-bg-color: #ffaf4d;

	// BG Color Hover
	--rb-button-default-hover-bg-color: #e0d6f5;
	--rb-button-danger-hover-bg-color: #ffcce7;
	--rb-button-info-hover-bg-color: #99e6ff;
	--rb-button-secondary-hover-bg-color: #9dfb9d;
	--rb-button-success-hover-bg-color: #b3e6c9;
	--rb-button-warning-hover-bg-color: #ffc680;

	// Border Color
	--rb-button-default-border-color: #e0d6f5;
	--rb-button-danger-border-color:  #ffcce7;
	--rb-button-info-border-color: #b3ecff;
	--rb-button-secondary-border-color: #9dfb9d;
	--rb-button-success-border-color: #b3e6c9;
	--rb-button-warning-border-color: #ffd199;

	// Border Color Active
	--rb-button-default-active-border-color: #a385e0;
	--rb-button-danger-active-border-color:  #ff66b8;
	--rb-button-info-active-border-color: #00bfff;
	--rb-button-success-active-border-color: #53c687;
	--rb-button-secondary-active-border-color: #54f854;
	--rb-button-warning-active-border-color: #ff981a;

	// Border Color Hover
	--rb-button-default-hover-border-color: #d1c2f0;
	--rb-button-danger-hover-border-color:  #ffb3db;
	--rb-button-info-hover-border-color: #80dfff;
	--rb-button-secondary-hover-border-color: #85fa85;
	--rb-button-success-hover-border-color: #8cd9af;
	--rb-button-warning-hover-border-color: #ffba66;

	// Color
	--rb-button-default-color: #291452;
	--rb-button-danger-color:  #800044;
	--rb-button-info-color: #004d66;
	--rb-button-secondary-color: #023102;
	--rb-button-success-color: #194d30;
	--rb-button-warning-color: #663800;
}