<div
	class="rb-code"
	ng-show="show === undefined ? true : show"
	ng-class="[
		kind,
		!!readonly ? 'readonly' : '',
		!!height ? height+'-height' : '',
		scroll !== undefined ? 'scroll' : ''
		].join(' ')
	">
	<section class="title-bar">
		<h3 ng-show="!!caption" ng-bind="::caption"></h3>
		<div class="actions">
			<!-- <rb-button text='{ "inherit": "color" }' ng-click="addAction()" icon-kind="plus-square"></rb-button> -->
			<!-- <rb-button text='{ "inherit": "color" }' ng-click="edit()" icon-kind="edit"></rb-button> -->
			<!-- <rb-button text='{ "inherit": "color" }' ng-click="compress()" icon-kind="compress" icon-source="solid"></rb-button> -->
			<!-- <rb-button text='{ "inherit": "color" }' ng-click="clear()" icon-kind="times-circle"></rb-button> -->
			<rb-popover
				ngclipboard
				inherit-color
				icon-kind="copy"
				ngclipboard-success="copied(e)"
				data-clipboard-target="textarea">
				Copied! <rb-icon kind="thumbs-up"></rb-icon>
			</rb-popover>
		</div>
	</section>
	<textarea
		tabindex="-1"
		ng-model="model"
		rba-codemirror="editorOpts"></textarea>
</div>