<div ng-show="show === undefined ? true : show"
	 ng-class="['rb-code', kind,
				!!size ? size+'-size' : '',
				!!height ? height+'-height' : '',
				scroll !== undefined ? 'scroll' : '',
				nowrap !== undefined ? 'pre-nowrap' : ''
			   ].join(' ')">
	<h5 ng-show="!!caption || !!actions">
		{{ caption }}
		<div class="actions" ng-if="!!actions">
			<!-- <a href tabindex="0" ng-click="clear()">clear</a> -->
			<!-- <a href tabindex="0" ng-click="addAction()">add</a> -->
			<!-- <a href tabindex="0" ng-click="compress()">compress</a> -->
			<!-- <a href tabindex="0" ng-click="edit()">edit</a> -->
			<rb-popover
				unstyled
				icon="copy"
				position="top"
				ngclipboard
				ngclipboard-success="copied(e)"
				data-clipboard-target="{{hasModel ? 'textarea' : 'pre'}}">
				Copied! <rb-icon kind="thumbs-up"></rb-icon>
			</rb-popover>
		</div>
	</h5>
	<span
		class="optional"
		ng-hide="optional === undefined"
		ng-bind-html="optional !== undefined && !!optional ? optional : '(optional)'">
	</span>
	<div class="content">
		<textarea
			readonly
			ng-model="model"
			ng-keydown="keydown($event)"
			placeholder="{{placeholder}}">
		</textarea>
		<pre ng-bind="bind"></pre>
		<pre ng-transclude></pre>
	</div>
</div>