<section class="rb-toggle">
	<h5 class="trigger" rba-text-curve>
		<rb-button
			text
			icon-source="solid"
			icon-valign="{{iconValign || 'text-top'}}"
			icon-kind="caret-{{show && initted ? 'down' : 'right'}}"
			ng-click="toggleAction()"
			ng-bind="caption">
		</rb-button>
		<rb-popover
			position="top"
			icon-size=".86"
			icon-valign="{{iconValign}}"
			ng-bind-html="popover | trustHtml"
			ng-if="popover">
		</rb-popover>
	</h5>
	<div
		data-html-template
		ng-class="templateClass"
		ng-show="show && initted"
		ng-bind-html="template | trustHtml">
	</div>
	<ng-include
		src="template"
		ng-class="templateClass"
		ng-show="show && initted">
	</ng-include>
	<ng-transclude
		ng-class="templateClass"
		ng-show="show && initted">
	</ng-transclude>
</section>