/**************
 * PAGE HEADER
 **************/
header.page-header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 0 0 remy(23);

	&.with-source-nav {
		padding-bottom: remy(19);
	}

	h1 {
		line-height: remy(34);
		font-variant: all-petite-caps;
		> sub { // see crud.html
			font-size: .5em;
			font-variant: none;
			line-height: normal;
			vertical-align: baseline;
		}
		rba-install {
			position: relative;
			top: -1px;
		}
	}

	/* Responsive
	 *************/
	@media (max-width: mapGet($gl-mq-list, sm)) {
		rba-source-nav {
			position: relative;
			right: remy(58);
			z-index: 1;
		}
	}
	/* Prevent Heading (from overlapping source nav)
	 ******************/
	@media (max-width: mapGet($gl-mq-list, xxs)) {
		&.with-source-nav {
			h1 {
				flex-basis: 62%;
			}
		}
	}
	@media (max-width: mapGet($gl-mq-list, xxxs)) {
		&.with-source-nav {
			h1 {
				flex-basis: 57%; // was 58%
			}
		}
	}
}