/**************
 * PAGE HEADER
 **************/
header.page-header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	h1 {
		line-height: remy(48);
		font-variant: all-petite-caps;
		rba-install {
			position: relative;
			top: -1px;
		}
		> sub { // see crud.html
			font-size: .5em;
			font-variant: none;
			line-height: normal;
			vertical-align: baseline;
		}
	}

	/* Responsive
	 *************/
	@media (max-width: mapGet($gl-mq-list, sm)) {
		rba-source-nav {
			position: relative;
			right: remy(58);
			// margin-right: remy(58);
		}
	}
}