<div>
	<header class="page-header">
		<h1>Browser Support</h1>
	</header>

	<p>
		<strong>Our goal</strong> is to support all evergreen browsers.
	</p>

	<p>
		Currently we only support chrome.
		<em>Don't worry that will change.</em>
	</p>

	<p>
		Right now we are using the latest and greatest technologies
		and are not focused on <a target="_blank" href="https://goo.gl/i6UQyJ">polyfilling</a>.
	</p>

	<p>
		Browser support will be top priority when the components get close to v1.0.0
	</p>

	<p>
		So hang in there, it's coming 😉
	</p>
</div>



