<div>
	<header class="page-header">
		<h1>Getting Started</h1>
	</header>

	<section class="separated">
		<h3>
			<rb-icon kind="exclamation-triangle" source="solid" size=".8"></rb-icon>
			Status: In Development
		</h3>
		<p>
			The components are in early stages
			of development.
		</p>
	</section>

	<section class="separated">
		<h3>
			<rb-icon kind="check-circle" source="solid" size=".8"></rb-icon>
			Prerequisites
		</h3>
		<ul>
			<li>
				<a target="_blank" href="https://nodejs.org/">
					Node.js
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.npmjs.com/package/yarn">
					Yarn
				</a>
				<ul>
					<li>
						You can use <strong>npm instead</strong> just
						make sure the components are
						<a target="_blank" href="https://goo.gl/5zwDfb">installed flat</a>.
					</li>
					<li>
						Only one version of each
						component can be installed.
					</li>
					<li>
						Yarn has a built in
						feature: yarn install --flat.
					</li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<h3>
			<rb-icon kind="check-circle" source="solid" size=".8"></rb-icon>
			How to Use <small class="sub">(each component is it's own package)</small>
		</h3>
		<ol>
			<li>
				Click on the install icon on any of the
				<a href="/components/">component pages</a> and run command.
				<br>
				Example:
				<rba-install source="alert"></rba-install>
			</li>
			<li>
				Once installed components can be
				loaded 2 ways, <strong>choose one</strong>.
				<br>
				Example <em class="sub">(type="module" required)</em>:
				<textarea readonly rba-code mode="htmlmixed" class="small-top-bumper">
					<!doctype html>
					<html>
					<head>
						<!-- Load via script tag: -->
						<script
							type="module"
							src="/node_modules/@rapid-build-ui/rb-alert/scripts/rb-alert.js">
						</script>
						<!-- OR -->
						<!-- Load via javascript import: -->
						<script type="module">
							import '/node_modules/@rapid-build-ui/rb-alert/scripts/rb-alert.js';
						</script>
					</head>
					<body>
						<!-- Use rb-component anywhere: -->
						<rb-alert>Hello Gorgeous!</rb-alert>
					</body>
					</html>
				</textarea>
			</li>
		</ol>
	</section>
</div>