<div>
	<header class="page-header">
		<h1>Getting Started</h1>
	</header>

	<section class="separated">
		<h3>
			<rb-icon kind="exclamation-triangle" source="solid" size=".8"></rb-icon>
			Status: In Development
		</h3>
		<p>
			The components are being worked on just about
			<a
				target="_blank"
				title="See our continuous branches."
				href="https://github.com/rapid-build-ui">everyday</a>.
			No official releases have been cut yet.
		</p>
	</section>

	<section class="separated">
		<h3>
			<rb-icon kind="check-circle" source="solid" size=".8"></rb-icon>
			Prerequisites
		</h3>
		<ul>
			<li>
				<a target="_blank" href="https://nodejs.org/">Node.js</a>
			</li>
			<li>
				<a target="_blank" href="https://www.npmjs.com/get-npm">npm</a>
				<span class="subtext">or</span>
				<a target="_blank" href="https://www.npmjs.com/package/yarn">yarn</a>
				<ul>
					<li>
						Only one version of a component can be installed.
					</li>
					<li>
						If you use <strong>npm</strong>
						instead of yarn make sure the components are
						<a target="_blank" href="https://goo.gl/5zwDfb">installed flat</a>.
					</li>
					<li>
						Yarn has a built in feature: yarn install --flat
					</li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<h3>
			<rb-icon kind="check-circle" source="solid" size=".8"></rb-icon>
			How to Use
		</h3>
		<p>
			Every component is its own package.<br>
			So if you only want to use one, <em>no problemo!</em>
		</p>
		<ol>
			<li>
				Click the install icon on any of the
				<a href="/components/">component pages</a>
				and run the command.
				<br>
				<span class="subtext">Example:</span>
				<rba-install source="alert"></rba-install>
			</li>
			<li>
				Once installed, components can be loaded
				via 2 ways <strong>choose one</strong>.
				<br>
				<span class="subtext">
					Example (type="module" required on script tag):
				</span>
				<rb-code
					label
					readonly
					mode="html"
					theme="one-dark"
					class="small-top-bumper"><xmp>
					<!doctype html>
					<html>
					<head>
						<!-- Load via script tag: -->
						<script
							type="module"
							src="/node_modules/@rapid-build-ui/rb-alert/scripts/rb-alert.js">
						</script>
						<!-- OR -->
						<!-- Load via javascript import: -->
						<script type="module">
							import '/node_modules/@rapid-build-ui/rb-alert/scripts/rb-alert.js';
						</script>
					</head>
					<body>
						<!-- Use rb-component anywhere! -->
						<rb-alert>Hello Gorgeous!</rb-alert>
					</body>
					</html>
				</xmp></rb-code>
			</li>
		</ol>
	</section>
</div>