<div ng-controller="homeController" class="home-page">
	<!-- JUMBOTRON -->
	<section class="grid-center-noBottom">
		<div class="col-8_lg-9_md-11_sm-12">
			<h1>
				<svg class="rb-logo mini standout" viewBox="0 0 87 113">
					<title>Develop Rapidly!</title>
					<desc>Rapid Build UI - Mini Logo</desc>
					<g fill="none" fill-rule="evenodd">
						<path fill="#374551" d="M13.4445599,56.7352438 L30.7775393,39.4022643 L73.4744914,82.0992164 L30.0150938,125.558614 L12.8583537,108.401874 L38.9847719,82.2754558 L13.4445599,56.7352438 Z" transform="rotate(90 43.46 82.48)"/>
						<path fill="#D0021B" d="M29.7380005,25.5727831 L43.2549262,39.0897089 L56.247853,26.0967821 L68.9000269,38.748956 L42.2636219,65.385361 L16.0945222,39.2162614 L29.7380005,25.5727831 Z"/>
						<polygon fill="#D0021B" points="31.487 5.639 54.287 5.639 54.287 28.039 31.487 28.039" transform="rotate(-45 42.887 16.84)"/>
					</g>
				</svg>
				<br>
				Web Components
			</h1>
			<h3 class="subheading">
				<em>For Creating Websites Rapidly!</em>
			</h3>
		</div>
	</section>

	<!-- WHY RAPID BUILD -->
	<section class="grid-center-noBottom stripe">
		<div class="col-8_lg-9_md-11_sm-12">
			<h2>Why Rapid Build UI?</h2>
			<div class="grid-noBottom reasons">
				<div class="col-4_sm-6_xxs-12">
					<ul class="list">
						<li>
							<rb-popover icon-valign="text-top">
								Components are html
								elements. So if you know
								html then you're all set!
								Some components require basic
								javascript knowledge.
							</rb-popover>
							Ease of Use
						</li>
						<li>
							<rb-popover icon-valign="text-top">
								Components are styled and function
								to provide the best user experience.
							</rb-popover>
							User Friendly
						</li>
						<li>
							<rb-popover icon-valign="text-top">
								Components are built
								to look and function appropriately
								on desktops and mobile devices.
							</rb-popover>
							Mobile Friendly
						</li>
						<li>
							<rb-popover icon-valign="text-top">
								Just npm install, javascript import
								then place the html tag anywhere!
								See the <a href="/getting-started">getting started</a>.
							</rb-popover>
							Simple Installation
						</li>
						<li>
							<rb-popover icon-valign="text-top">
								All styles are baked in.
								No need to worry about writing css.
								<em>Woohoo!</em>
							</rb-popover>
							No Styling Required
						</li>
					</ul>
				</div>
				<div class="col-5_sm-6_xxs-12">
					<ul class="list">
						<li>
							<rb-popover icon-valign="text-top">
								Css variables are available for every component
								to provide your own style.
							</rb-popover>
							Customizable Styles
						</li>
						<li>
							<rb-popover icon-valign="text-top">
								No javascript framework required.
								Components are native to the browser.
								Meaning, they will work with or without
								a javascript framework <span class="subtext">(like angular or react)</span>.
							</rb-popover>
							Framework Agnostic
						</li>
						<li>
							<rb-popover icon-valign="text-top">
								Every component is its own package.
								So if you only want to use one,
								<em>no problemo!</em>
							</rb-popover>
							Use All or Individually
						</li>
						<li>
							<rb-popover icon-valign="text-top" caption="State of the Art">
								Documentation is just as important
								to us as creating the components.
								This site contains interactive demos
								for every component to see exactly
								what each feature does.
							</rb-popover>
							Superb Documentation
						</li>
						<li>
							<rb-popover icon-valign="text-top">
								Refer to the <a href="/browser-support">browser support page</a>.
								Microsoft Edge is currently unsupported.
								However, support is
								<a target="_blank" title="preview video" href="https://www.youtube.com/watch?v=dKmzyj-ovkg">
									coming soon...
								</a>
							</rb-popover>
							Excellent Browser Support
						</li>
					</ul>
				</div>
				<div class="col-3__xxs-12 logo-wrap">
					<svg class="rb-logo mini standout" viewBox="0 0 87 113">
						<title>Develop Rapidly!</title>
						<desc>Rapid Build UI - Mini Logo</desc>
						<g fill="none" fill-rule="evenodd">
							<path fill="#374551" d="M13.4445599,56.7352438 L30.7775393,39.4022643 L73.4744914,82.0992164 L30.0150938,125.558614 L12.8583537,108.401874 L38.9847719,82.2754558 L13.4445599,56.7352438 Z" transform="rotate(90 43.46 82.48)"/>
							<path fill="#D0021B" d="M29.7380005,25.5727831 L43.2549262,39.0897089 L56.247853,26.0967821 L68.9000269,38.748956 L42.2636219,65.385361 L16.0945222,39.2162614 L29.7380005,25.5727831 Z"/>
							<polygon fill="#D0021B" points="31.487 5.639 54.287 5.639 54.287 28.039 31.487 28.039" transform="rotate(-45 42.887 16.84)"/>
						</g>
					</svg>
				</div>
			</div>
		</div>
	</section>

	<!-- EXAMPLE -->
	<section class="grid-center-noBottom">
		<div class="col-8_lg-9_md-11_sm-12">
			<h2>Form Controls Example</h2>
			<div class="grid-noBottom text-left">
				<div class="col">
					<div rba-builder="example2"></div>
				</div>
				<div class="col-8_sm-7">
					<rb-code
						rows="24"
						mode="html"
						rb-bind="value"
						value="example2"
						theme="one-dark"
						actions='["copy"]'
						class="no-bottom-bumper"><xmp>
						<form>
							<rb-input
								name="fav"
								label="Superhero"
								icon-kind="heart"
								validation='["required"]'
								placeholder="Your Favorite">
							</rb-input>
							<rb-dropdown
								name="strongest"
								label="Strongest"
								placeholder="Select"
								validation='["required"]'
								data='["Thor", "Superman", "Wonder Woman"]'>
							</rb-dropdown>
							<rb-radios
								toggle
								name="best"
								label="The Best"
								validation='["required"]'
								data='["Thor", "Superman", "Wolverine"]'>
							</rb-radios>
							<rb-button
								type="submit"
								icon-kind="save">
								Save
							</rb-button>
						</form>
					</xmp></rb-code>
				</div>
			</div>
		</div>
	</section>
</div>