<div ng-controller="homeController" class="headlines">
	<section>
		<h1>
			<img
				title="Develop Rapidly!"
				alt="Rapid Build UI Logo"
				class="rb-logo mini standout"
				src="/images/logos/rapid-build-ui-mini-logo.svg">
			<br>
			Web Components
		</h1>
		<h3 class="sub">
			<em>For Creating Websites Rapidly With Style!</em>
		</h3>
	</section>

	<section>
		<h2>What is Rapid Build UI?</h2>
		<p>
			Suite of <a href="/components/">web components</a><br>
			for rapid client-side development.
		</p>
	</section>

	<section>
		<h3>Browser Support</h3>
		<p>
			Check out our
			<a href="/browser-support">browser support</a> page.
		</p>
		<img title="Shake n' Bake!"
			 class="bordered rounded top-bumper"
			 src="/images/misc/shake-and-bake.jpg">
	</section>
</div>