<div ng-controller="homeController" class="headlines">
	<section>
		<h1>
			Showcase Site for Rapid Build UI
		</h1>
		<h3 class="sub">
			<q><em>Web Components for the World!</em></q>
		</h3>
	</section>

	<section>
		<h2>What is Rapid Build UI?</h2>
		<p>
			Suite of <a href="/components/">web components</a><br>
			for rapid client-side development.
		</p>
	</section>

	<section>
		<h3>Browser Support</h3>
		<p>
			Check out our browser support
			<a href="/browser-support">page</a>.
		</p>
		<img title="Shake n' Bake!"
			 class="bordered rounded bumper-top"
			 src="/images/misc/shake-and-bake.jpg">
	</section>
</div>