<div ng-controller="rbAlertController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="alert"
				icon-size=".55">
			</rba-install>
			rb-alert
		</h1>
		<rba-source-nav source="RB_ALERT_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
			</section>
		</div>
		<div class="col-6">
			<rb-code
				readonly
				scrollable
				rows="6"
				mode="html"
				value="markup"
				rb-bind="value"
				theme="one-dark"
				actions='["copy"]'>
			</rb-code>
		</div>
	</section>

	<!-- CONFIGURE -->
	<section>
		<rb-textcurve>
			<rb-toggle
				open
				target="form"
				caption="Configure"
				target-root="section">
			</rb-toggle>
		</rb-textcurve>
		<form name="demoForm">
			<rb-code
				rows="4"
				mode="html"
				theme="rapid"
				label="content"
				rb-bind="value"
				value="a.content">
			</rb-code>

			<!-- RADIOS -->
			<rb-radios
				toggle
				horizontal
				label="kind"
				value="a.kind"
				rb-bind="value"
				data="{{kinds}}">
			</rb-radios>

			<!-- VALUELESS -->
			<rb-checkbox
				inline
				value="a.dark"
				sublabel="dark"
				rb-bind="value"
				ng-if="env.is.dev">
			</rb-checkbox>
			<rb-checkbox
				inline
				rb-bind="value"
				value="a.inline"
				sublabel="inline">
			</rb-checkbox>
			<rb-checkbox
				inline
				horizontal
				rb-bind="value"
				value="a.removable"
				sublabel="removable">
			</rb-checkbox>

			<!-- BUTTONS -->
			<section class="buttons">
				<rb-button
					data-reset
					icon-kind="sync"
					icon-source="solid">
					Reset
				</rb-button>
			</section>
		</form>
	</section>

	<!-- API -->
	<section>
		<rba-api component="rb-alert"></rba-api>
	</section>

	<!-- CSS Variables -->
	<section>
		<rba-css-vars component="rb-alert"></rba-css-vars>
	</section>

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-alert"></rba-changelog>
	</section>
</div>
