<div ng-controller="rbAlertController">
	<header class="page-header">
		<h1>
			<rba-install
				source="alert"
				icon-size=".55">
			</rba-install>
			rb-alert
		</h1>
		<rba-source-nav source="alert"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-6">
			<rba-code
				scroll
				bind="markup"
				actions="copy"
				caption="html">
			</rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<rb-radios
			toggle
			rb-ng-bind
			horizontal
			label="kind"
			value="a.kind"
			data="{{kinds}}">
		</rb-radios>
		<rb-checkbox
			horizontal
			rb-ng-bind
			value="a.removable"
			sublabel="removable">
		</rb-checkbox>
		<rba-textarea
			model="a.content"
			caption="content">
		</rba-textarea>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_ALERT_API" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-alert"></rba-changelog>
</div>
