<div ng-controller="rbAlertController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="alert"
				icon-size=".55">
			</rba-install>
			rb-alert
		</h1>
		<rba-source-nav source="RB_ALERT_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-6">
			<textarea
				scroll
				readonly
				rba-code
				model="markup"
				actions="copy"
				caption="html"
				height="tall">
			</textarea>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Configure</h5>

		<rb-radios
			toggle
			rb-bind
			horizontal
			label="kind"
			value="a.kind"
			data="{{kinds}}">
		</rb-radios>
		<rb-checkbox
			rb-bind
			horizontal
			value="a.removable"
			sublabel="removable">
		</rb-checkbox>
		<rb-textarea
			rb-bind
			value="a.content"
			label="content">
		</rb-textarea>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_ALERT_API" inject></rba-table>
	</section>

	<!-- CSS Variables -->
	<section>
		<h5 rba-text-curve>CSS Variables</h5>
		<rba-table source="RB_ALERT_CSS_VARS" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-alert"></rba-changelog>
</div>
