<div ng-controller="rbButtonController">
	<header class="page-header">
		<h1>
			<rba-install
				source="button"
				icon-size=".55">
			</rba-install>
			rb-button
		</h1>
		<rba-source-nav source="RB_BUTTON_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-7">
			<rba-code
				scroll
				bind="markup"
				actions="copy"
				caption="html">
			</rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm" ng-submit="save($event)">
		<h5 rba-text-curve>Demo</h5>

		<rb-input
			rb-bind
			label="content"
			value="a.content">
		</rb-input>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="kind"
			value="a.kind"
			data="{{kinds}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="size"
			value="a.size"
			data="{{sizes}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="type"
			value="a.type"
			data="{{types}}">
		</rb-radios>

		<!-- ICON OPTIONS -->
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="icon-kind"
			value="a.iconKind"
			data="{{iconKinds}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="icon-source"
			value="a.iconSource"
			data="{{iconSources}}">
		</rb-radios>
		<rb-input
			rb-bind
			type="number"
			label="icon-size"
			value="a.iconSize">
		</rb-input>
		<rb-checkbox
			rb-bind
			horizontal
			label="icon-position"
			value="a.iconPosition"
			sublabel="{{iconPosition}}">
		</rb-checkbox>
		<rb-checkbox
			rb-bind
			value="a.disabled"
			sublabel="disabled">
		</rb-checkbox>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_BUTTON_API" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-button"></rba-changelog>
</div>