<div ng-controller="rbButtonController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="button"
				icon-size=".55">
			</rba-install>
			rb-button
		</h1>
		<rba-source-nav source="RB_BUTTON_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
				<!-- <section class="buttons no-divider">
					<rb-button text>Button</rb-button>
					<rb-button text kind="danger">Button</rb-button>
					<rb-button text kind="info">Button</rb-button>
					<rb-button text kind="neutral">Button</rb-button>
					<rb-button text kind="success">Button</rb-button>
					<rb-button text kind="warning">Button</rb-button>
				</section> -->
				<!-- <rb-button
					data-update-icon
					class="block top-bumper">
					Update Icon
				</rb-button> -->
			</section>
		</div>
		<div class="col-6">
			<rb-code
				readonly
				scrollable
				rows="6"
				mode="html"
				value="markup"
				rb-bind="value"
				theme="one-dark"
				actions='["copy"]'>
			</rb-code>
		</div>
	</section>

	<!-- CONFIGURE -->
	<form name="demoForm" ng-submit="save($event)">
		<rb-textcurve>
			<h5>Configure</h5>
		</rb-textcurve>

		<rb-input
			label="content"
			rb-bind="value"
			value="a.content">
		</rb-input>

		<!-- RADIOS -->
		<rb-radios
			toggle
			horizontal
			label="kind"
			value="a.kind"
			rb-bind="value"
			data="{{kinds}}">
		</rb-radios>
		<rb-radios
			toggle
			horizontal
			label="text"
			value="a.text"
			rb-bind="value"
			data="{{textOpts}}">
		</rb-radios>
		<rb-radios
			toggle
			horizontal
			label="size"
			value="a.size"
			rb-bind="value"
			data="{{sizes}}">
		</rb-radios>
		<rb-radios
			toggle
			horizontal
			label="type"
			value="a.type"
			rb-bind="value"
			data="{{types}}">
		</rb-radios>

		<!-- ICON OPTIONS -->
		<rb-dropdown
			rb-bind="value"
			label="icon-kind"
			value="a.iconKind"
			placeholder="Select...">
		</rb-dropdown>
		<rb-radios
			toggle
			horizontal
			rb-bind="value"
			label="icon-source"
			value="a.iconSource"
			data="{{iconSources}}">
		</rb-radios>
		<!-- <rb-radios
			toggle
			horizontal
			rb-bind="value"
			label="icon-flip"
			value="a.iconFlip"
			data="{{iconFlips}}">
		</rb-radios> -->
		<rb-checkboxes
			horizontal
			rb-bind="value"
			label="icon animation"
			value="a.iconAnimation"
			data="{{iconAnimation}}">
		</rb-checkboxes>
		<!-- <rb-input
			inline
			type="number"
			rb-bind="value"
			label="icon-rotate"
			value="a.iconRotate">
		</rb-input> -->
		<rb-input
			inline
			type="number"
			rb-bind="value"
			label="icon-size"
			value="a.iconSize">
		</rb-input>
		<rb-input
			inline
			type="number"
			rb-bind="value"
			label="icon-speed"
			value="a.iconSpeed">
		</rb-input>
		<br>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			value="a.dark"
			rb-bind="value"
			sublabel="dark"
			ng-if="env.is.dev">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.disabled"
			sublabel="disabled">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.iconRight"
			sublabel="icon-right">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.onclick"
			sublabel="onclick">
		</rb-checkbox>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<rba-api component="rb-button"></rba-api>
	</section>

	<!-- CSS Variables -->
	<section>
		<rba-css-vars component="rb-button"></rba-css-vars>
	</section>

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-button"></rba-changelog>
	</section>
</div>
