<div ng-controller="rbButtonController">
	<header class="page-header">
		<h1>rb-button</h1>
		<rba-source-nav source="button"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-7">
			<rba-code readonly model="markup" caption="markup"></rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm" ng-submit="save($event)">
		<h5 rba-text-curve>Demo</h5>

		<rba-radios caption="type" model="a.type" data="types" toggle></rba-radios>
		<rba-radios caption="kind" model="a.kind" data="kinds" toggle></rba-radios>
		<rba-radios caption="size" model="a.size" data="sizes" toggle></rba-radios>
		<rba-checkbox caption="disabled" model="a.disabled"></rba-checkbox>
		<rb-input label="content" value="a.content"></rb-input>

		<!-- ICON OPTIONS -->
		<rba-radios caption="icon" model="a.icon" data="icons" toggle></rba-radios>
		<rba-radios caption="icon-source" model="a.iconSource" data="iconSources" toggle></rba-radios>
		<rba-checkbox caption="icon-position" model="a.iconPosition" value="iconPosition" sub-caption="{{iconPosition}}"></rba-checkbox>
		<rb-input label="icon-size" value="a.iconSize" type="number"></rb-input>



		<!-- FORM CONTROLS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<h5 rba-text-curve>API</h5>
	<rba-table source="button"></rba-table>
</div>