<div ng-controller="rbCheckboxesController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				icon-size=".55"
				source="checkboxes">
			</rba-install>
			rb-checkboxes
		</h1>
		<rba-source-nav source="RB_CHECKBOXES_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
			</section>
		</div>
		<div class="col-6">
			<rb-code
				readonly
				scrollable
				rows="10"
				mode="html"
				value="markup"
				rb-bind="value"
				theme="one-dark"
				actions='["copy"]'>
			</rb-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<rb-textcurve>
			<h5>Configure</h5>
		</rb-textcurve>

		<!-- INPUTS -->
		<rb-input
			inline
			label="label"
			rb-bind="value"
			value="a.label">
		</rb-input>
		<rb-input
			inline
			readonly
			label="value"
			value="a.value"
			rb-bind="value"
			placeholder="readonly select checkboxes">
			<rba-popover-value></rba-popover-value>
		</rb-input>
		<rb-input
			inline
			label="subtext"
			rb-bind="value"
			value="a.subtext">
		</rb-input>

		<!-- RADIOS -->
		<rb-radios
			horizontal
			label="data"
			value="a.data"
			rb-bind="value"
			data="{{dataLabels}}">
		</rb-radios>
		<rb-radios
			toggle
			horizontal
			rb-bind="value"
			label="label-key"
			value="a.labelKey"
			data="{{labelKeys}}">
		</rb-radios>

		<!-- VALIDATION -->
		<rb-checkboxes
			horizontal
			rb-bind="value"
			label="validation"
			value="a.validation"
			data="{{validationLabels}}">
		</rb-checkboxes>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			value="a.dark"
			rb-bind="value"
			sublabel="dark"
			ng-if="env.is.dev">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.disabled"
			sublabel="disabled">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.horizontal"
			sublabel="horizontal">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.inline"
			sublabel="inline">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.popover"
			sublabel="popover">
		</rb-checkbox>
		<rb-checkbox
			inline
			value="a.right"
			rb-bind="value"
			sublabel="right">
		</rb-checkbox>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<rba-api component="rb-checkboxes"></rba-api>
	</section>

	<!-- CSS Variables -->
	<!-- <section>
		<rba-css-vars component="rb-checkboxes"></rba-css-vars>
	</section> -->

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-checkboxes"></rba-changelog>
	</section>
</div>
