<div ng-controller="rbCheckboxController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="checkbox"
				icon-size=".55">
			</rba-install>
			rb-checkbox
		</h1>
		<rba-source-nav source="RB_CHECKBOX_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
			</section>
		</div>
		<div class="col-6">
			<rb-code
				readonly
				scrollable
				rows="8"
				mode="html"
				value="markup"
				rb-bind="value"
				theme="one-dark"
				actions='["copy"]'>
			</rb-code>
		</div>
	</section>

	<!-- DEMO -->
	<section>
		<rb-textcurve>
			<rb-toggle
				open
				target="form"
				caption="Demo"
				target-root="section">
			</rb-toggle>
		</rb-textcurve>
		<form name="demoForm">
			<!-- INPUTS -->
			<rb-input
				inline
				label="label"
				rb-bind="value"
				value="a.label">
			</rb-input>
			<rb-input
				inline
				rb-bind="value"
				label="sublabel"
				value="a.sublabel">
			</rb-input>
			<rb-input
				inline
				label="subtext"
				rb-bind="value"
				value="a.subtext">
			</rb-input>

			<!-- VALUE -->
			<rb-radios
				toggle
				horizontal
				label="value"
				value="a.value"
				rb-bind="value"
				data="{{valueLabels}}">
				<rba-popover-value></rba-popover-value>
			</rb-radios>

			<!-- VALIDATION -->
			<rb-checkboxes
				horizontal
				rb-bind="value"
				label="validation"
				value="a.validation"
				data="{{validationLabels}}">
			</rb-checkboxes>

			<!-- VALUELESS -->
			<rb-checkbox
				inline
				value="a.dark"
				rb-bind="value"
				sublabel="dark"
				ng-if="env.is.dev">
			</rb-checkbox>
			<rb-checkbox
				inline
				rb-bind="value"
				value="a.disabled"
				sublabel="disabled">
			</rb-checkbox>
			<rb-checkbox
				inline
				rb-bind="value"
				value="a.horizontal"
				sublabel="horizontal">
			</rb-checkbox>
			<rb-checkbox
				inline
				rb-bind="value"
				value="a.inline"
				sublabel="inline">
			</rb-checkbox>
			<rb-checkbox
				inline
				rb-bind="value"
				value="a.popover"
				sublabel="popover">
			</rb-checkbox>
			<rb-checkbox
				inline
				rb-bind="value"
				value="a.right"
				sublabel="right">
			</rb-checkbox>

			<!-- BUTTONS -->
			<section class="buttons">
				<rb-button
					data-reset
					icon-kind="sync"
					icon-source="solid">
					Reset
				</rb-button>
			</section>
		</form>
	</section>

	<!-- API -->
	<section>
		<rba-api component="rb-checkbox"></rba-api>
	</section>

	<!-- CSS Variables -->
	<!-- <section>
		<rba-css-vars component="rb-checkbox"></rba-css-vars>
	</section> -->

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-checkbox"></rba-changelog>
	</section>
</div>
