<div ng-controller="rbCheckboxController">
	<header class="page-header">
		<h1>
			<rba-install
				source="checkbox"
				icon-size=".55">
			</rba-install>
			rb-checkbox
		</h1>
		<rba-source-nav source="checkbox"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-6">
			<rba-code
				scroll
				bind="markup"
				actions="copy"
				caption="html"
				height="tall">
			</rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>
		<rb-input label="label" value="a.label"></rb-input>
		<rb-input label="sublabel" value="a.sublabel"></rb-input>
		<rb-radios toggle horizontal label="value" value="a.value" data="{{valueLabels}}"></rb-radios>
		<rba-checkboxes caption="validation" model="a.validation" data="validationLabels"></rba-checkboxes>
		<rb-input label="subtext" value="a.subtext"></rb-input>
		<rb-checkbox sublabel="disabled" value="a.disabled"></rb-checkbox>
		<rb-checkbox sublabel="inline" value="a.inline"></rb-checkbox>
		<rb-checkbox sublabel="horizontal" value="a.horizontal"></rb-checkbox>
		<rb-checkbox sublabel="right" value="a.right"></rb-checkbox>

		<!-- FORM CONTROLS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_CHECKBOX_API" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-checkbox"></rba-changelog>
</div>
