<div ng-controller="rbCodeController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="code"
				icon-size=".55">
			</rba-install>
			rb-code
		</h1>
		<rba-source-nav source="RB_CODE_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col-7">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
			</section>
		</div>
		<div class="col-5">
			<rb-code
				readonly
				scrollable
				rows="11"
				mode="html"
				value="markup"
				rb-bind="value"
				theme="one-dark"
				actions='["copy"]'>
			</rb-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<rb-textcurve>
			<h5>Configure</h5>
		</rb-textcurve>

		<rb-dropdown
			inline
			label="mode"
			value="a.mode"
			rb-bind="value"
			data="{{modes}}"
			placeholder="defaults to text">
		</rb-dropdown>
		<rb-dropdown
			inline
			label="theme"
			value="a.theme"
			rb-bind="value"
			data="{{themes}}"
			placeholder="default">
		</rb-dropdown>
		<br>
		<rb-input
			inline
			label="label"
			value="a.label"
			rb-bind="value"
			placeholder="defaults to mode">
			<rb-popover slot="popover">
				Add space for blank label.
			</rb-popover>
		</rb-input>
		<rb-input
			inline
			rb-bind="value"
			label="placeholder"
			value="a.placeholder">
		</rb-input>
		<rb-input
			inline
			label="subtext"
			rb-bind="value"
			value="a.subtext">
		</rb-input>
		<rb-input
			inline
			label="rows"
			type="number"
			rb-bind="value"
			value="a.rows">
		</rb-input>

		<br>
		<rb-checkboxes
			horizontal
			label="actions"
			rb-bind="value"
			value="a.actions"
			data="{{actionLabels}}">
		</rb-checkboxes>
		<rb-checkboxes
			horizontal
			rb-bind="value"
			label="validation"
			value="a.validation"
			data="{{validationLabels}}">
		</rb-checkboxes>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.inline"
			sublabel="inline">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.lineNumbers"
			sublabel="line-numbers">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.nowrap"
			sublabel="nowrap">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.readonly"
			sublabel="readonly">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.right"
			sublabel="right">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.scrollable"
			sublabel="scrollable">
		</rb-checkbox>
		<rb-checkbox
			inline
			value="a.dark"
			sublabel="dark"
			rb-bind="value"
			ng-if="env.is.dev">
		</rb-checkbox>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<rba-api component="rb-code"></rba-api>
	</section>

	<!-- CSS Variables -->
	<!-- <section>
		<rba-css-vars component="rb-code"></rba-css-vars>
	</section> -->

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-code"></rba-changelog>
	</section>
</div>
