<div ng-controller="rbCodeController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="code"
				icon-size=".55">
			</rba-install>
			rb-code
		</h1>
		<rba-source-nav source="RB_CODE_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col-7">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
			</section>
		</div>
		<div class="col-5">
			<textarea
				scroll
				readonly
				rba-code
				model="markup"
				actions="copy"
				caption="html"
				height="tall">
			</textarea>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<rb-textcurve>
			<h5>Configure</h5>
		</rb-textcurve>

		<rb-dropdown
			inline
			rb-bind
			label="mode"
			value="a.mode"
			data="{{modes}}"
			placeholder="default">
		</rb-dropdown>
		<rb-dropdown
			inline
			rb-bind
			label="theme"
			value="a.theme"
			data="{{themes}}"
			placeholder="default">
		</rb-dropdown>

		<rb-dropdown
			inline
			rb-bind
			label="height"
			value="a.height"
			data="{{heights}}">
		</rb-dropdown>

		<rb-input
			inline
			rb-bind
			label="caption"
			value="a.caption">
		</rb-input>

		<rb-textarea
			rb-bind
			auto-height
			value="a.content"
			label="content">
		</rb-textarea>

		<!-- RADIOS -->
		<!-- <rb-radios
			toggle
			rb-bind
			horizontal
			label="kind"
			value="a.kind"
			data="{{kinds}}">
		</rb-radios> -->

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			rb-bind
			value="a.dark"
			sublabel="dark"
			ng-if="env.is.dev">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.readonly"
			sublabel="readonly">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.scrollable"
			sublabel="scrollable">
		</rb-checkbox>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<rba-api component="rb-code"></rba-api>
	</section>

	<!-- CSS Variables -->
	<!-- <section>
		<rba-css-vars component="rb-code"></rba-css-vars>
	</section> -->

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-code"></rba-changelog>
	</section>
</div>
