<div ng-controller="rbInputController">
	<header class="page-header">
		<h1>
			<rba-install
				source="input"
				icon-size=".55">
			</rba-install>
			rb-input
		</h1>
		<rba-source-nav source="RB_INPUT_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col" id="markup">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-6">
			<textarea
				scroll
				readonly
				rba-editor
				height="xxtall"
				model="markup"
				actions="copy"
				caption="html">
			</textarea>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Configure</h5>

		<rb-input
			inline
			rb-bind
			label="label"
			value="a.label">
		</rb-input>
		<rb-input
			inline
			rb-bind
			label="value"
			value="a.value">
		</rb-input>
		<br>
		<rb-input
			inline
			rb-bind
			label="placeholder"
			value="a.placeholder">
		</rb-input>
		<rb-input
			inline
			rb-bind
			label="subtext"
			value="a.subtext">
		</rb-input>

		<!-- ICON OPTIONS -->
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="icon-kind"
			value="a.iconKind"
			data="{{iconKinds}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="icon-source"
			value="a.iconSource"
			data="{{iconSources}}">
		</rb-radios>
		<rb-checkbox
			rb-bind
			horizontal
			label="icon-position"
			value="a.iconPosition"
			sublabel="{{iconPosition}}">
		</rb-checkbox>
		<rb-checkbox
			rb-bind
			horizontal
			label="type"
			value="a.type"
			sublabel="{{type}}">
		</rb-checkbox>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			rb-bind
			value="a.disabled"
			sublabel="disabled">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.right"
			sublabel="right">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.inline"
			sublabel="inline">
		</rb-checkbox>

		<!-- VALIDATION -->
		<rb-checkboxes
			rb-bind
			horizontal
			value="a.validation"
			label="validation"
			data="{{validationLabels}}">
		</rb-checkboxes>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_INPUT_API" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-input"></rba-changelog>
</div>
