<div ng-controller="rbInputController">
	<header class="page-header">
		<h1>rb-input</h1>
		<rba-source-nav source="input"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col" id="markup">
			<div rba-builder="markup"></div>
			<!-- <rb-input
				label="My Input"
				subtext="My subtext"
				validation='[
					"required",
					"email",
					function() {
						return {
							valid: false,
							message: "custom message"
						}
					}
				]'>
			</rb-input> -->
		</div>
		<div class="col-7">
			<rba-code readonly model="markup" caption="markup" height="xxxxxtall"></rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<rba-input caption="label" model="a.label" type="text"></rba-input>
		<rba-input caption="value" model="a.value" type="text"></rba-input>
		<rba-input caption="subtext" model="a.subtext" type="text"></rba-input>
		<rba-checkbox caption="disabled" model="a.disabled"></rba-checkbox>
		<rba-checkbox caption="right" model="a.right""></rba-checkbox>
		<!-- <rba-checkbox caption="validation" model="a.validation"></rba-checkbox> -->
		<rba-checkboxes caption="validation"
						model="a.validation"
						data="validationLabels"
						stacked
						>
		</rba-checkboxes>

		<section class="buttons">
			<rb-button
				data-reset
				icon="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<h5 rba-text-curve>API</h5>
	<rba-table source="input"></rba-table>
</div>
