<div ng-controller="rbInputController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="input"
				icon-size=".55">
			</rba-install>
			rb-input
		</h1>
		<rba-source-nav source="RB_INPUT_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col" id="markup">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
			</section>
		</div>
		<div class="col-6">
			<textarea
				scroll
				readonly
				rba-code
				model="markup"
				actions="copy"
				caption="html"
				height="xxtall">
			</textarea>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<rb-textcurve>
			<h5>Configure</h5>
		</rb-textcurve>

		<!-- INPUTS -->
		<rb-input
			inline
			rb-bind
			label="label"
			value="a.label">
		</rb-input>
		<rb-input
			inline
			rb-bind
			label="value"
			value="a.value">
			<rba-popover-value></rba-popover-value>
		</rb-input>
		<br>
		<rb-input
			inline
			rb-bind
			label="placeholder"
			value="a.placeholder">
		</rb-input>
		<rb-input
			inline
			rb-bind
			label="subtext"
			value="a.subtext">
		</rb-input>

		<!-- OPTIONS -->
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="type"
			value="a.type"
			data="{{types}}">
		</rb-radios>

		<!-- ICON OPTIONS -->
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="icon-kind"
			value="a.iconKind"
			data="{{iconKinds}}">
			<rb-popover slot="popover" caption="set icon-source to">
				<ul>
					<li><strong>solid</strong> for spinner</li>
					<li><strong>brands</strong> for github</li>
				</ul>
			</rb-popover>
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="icon-source"
			value="a.iconSource"
			data="{{iconSources}}">
		</rb-radios>
		<!-- <rb-radios
			toggle
			rb-bind
			horizontal
			label="icon-flip"
			value="a.iconFlip"
			data="{{iconFlips}}">
		</rb-radios> -->
		<rb-checkbox
			rb-bind
			horizontal
			sublabel="left"
			label="icon-position"
			value="a.iconPosition">
		</rb-checkbox>
		<rb-checkboxes
			rb-bind
			horizontal
			label="icon animation"
			value="a.iconAnimation"
			data="{{iconAnimation}}">
		</rb-checkboxes>
		<!-- <rb-input
			inline
			rb-bind
			type="number"
			label="icon-rotate"
			value="a.iconRotate">
		</rb-input> -->
		<!-- <rb-input
			inline
			rb-bind
			type="number"
			label="icon-speed"
			value="a.iconSpeed">
		</rb-input> -->

		<!-- VALIDATION -->
		<rb-checkboxes
			rb-bind
			horizontal
			value="a.validation"
			label="validation"
			data="{{validationLabels}}">
		</rb-checkboxes>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			rb-bind
			value="a.dark"
			sublabel="dark"
			ng-if="env.is.dev">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.disabled"
			sublabel="disabled">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.inline"
			sublabel="inline">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.popover"
			sublabel="popover">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.readonly"
			sublabel="readonly">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.right"
			sublabel="right">
		</rb-checkbox>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<rba-api component="rb-input"></rba-api>
	</section>

	<!-- CSS Variables -->
	<!-- <section>
		<rba-css-vars component="rb-input"></rba-css-vars>
	</section> -->

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-input"></rba-changelog>
	</section>
</div>
