<div ng-controller="rbModalController">
	<header class="page-header">
		<h1>
			<rba-install
				source="modal"
				icon-size=".55">
			</rba-install>
			rb-modal
		</h1>
		<rba-source-nav source="RB_MODAL_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-7">
			<rba-code
				scroll
				bind="markup"
				actions="copy"
				caption="html"
				height="xtall">
			</rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			rb-bind
			value="a.show"
			sublabel="show"
			class="right-bumper">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.center"
			sublabel="center"
			class="right-bumper">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.unclosable"
			sublabel="unclosable"
			class="right-bumper">
		</rb-checkbox>
		<!-- <rb-radios
			toggle
			horizontal
			rb-bind
			label="kind"
			value="a.kind"
			data="{{kinds}}">
		</rb-radios> -->

		<!-- CONTENT -->
		<rba-textarea
			height="short"
			model="a.content"
			caption="content">
		</rba-textarea>
		<rba-textarea
			height="short"
			model="a.header"
			caption="header">
		</rba-textarea>
		<rba-textarea
			height="short"
			model="a.footer"
			caption="footer">
		</rba-textarea>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_MODAL_API" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-modal"></rba-changelog>
</div>
