<div ng-controller="rbModalController">
	<header class="page-header">
		<h1>
			<rba-install
				source="modal"
				icon-size=".55">
			</rba-install>
			rb-modal
		</h1>
		<rba-source-nav source="modal"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-7">
			<rba-code
				scroll
				bind="markup"
				actions="copy"
				caption="html"
				height="xtall">
			</rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<rba-checkbox caption="show" model="a.show"></rba-checkbox>
		<rba-checkbox caption="center" model="a.center"></rba-checkbox>
		<rba-checkbox caption="unclosable" model="a.unclosable"></rba-checkbox>
		<!-- <rb-radios toggle horizontal label="kind" value="a.kind" data="{{kinds}}"></rb-radios> -->
		<rba-textarea height="short" caption="content" model="a.content"></rba-textarea>
		<rba-textarea height="short" caption="header" model="a.header"></rba-textarea>
		<rba-textarea height="short" caption="footer" model="a.footer"></rba-textarea>

		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_MODAL_API" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-modal"></rba-changelog>
</div>
