<div ng-controller="rbNavController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="nav"
				icon-size=".55">
			</rba-install>
			rb-nav
		</h1>
		<rba-source-nav source="RB_NAV_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
				<!-- <hr> -->

				<!-- ACTIVE TEST -->
				<!-- <rb-nav active="false"> -->
				<!-- <rb-nav active="true"> -->
				<!-- <rb-nav active="test"> -->
				<!-- <rb-nav active> -->
				<!-- <rb-nav>
					<a href="#home">home</a>
					<a href="#about">about</a>
					<a href="#contact">contact</a>
				</rb-nav> -->

				<!-- RESPONSIVE TEST -->
				<!-- <rb-nav> -->
				<!-- <rb-nav responsive> -->
				<!-- <rb-nav responsive='{ "closeOnClick": false }'>
					<a href="#home">home</a>
					<a href="#about">about</a>
					<a href="#contact">contact</a>
				</rb-nav> -->

				<!-- DYNAMIC SLOT TEST -->
				<!-- <rb-nav active="hash">
					<a href="" ng-href="#{{link.href}}" ng-repeat="link in links" ng-bind-html="link.content | trustHtml"></a>
				</rb-nav>
				<br>
				<rb-button size="small" data-add-link>add</rb-button>
				<rb-button size="small" data-remove-link>remove</rb-button> -->

				<!-- INLINE TEST -->
				<!-- before <div rba-builder="markup"></div> after -->

				<!-- ACTIVE PARAM TEST -->
				<!-- <rb-nav active='{"param":"name"}'>
					<a href="?name=home#home">home</a>
					<a href="?name=about#about">about</a>
					<a href="?name=contact#contact">contact</a>
					<a href="?name=faq#faq">faq</a>
				</rb-nav> -->

				<!-- ACTIVE SEGMENT TEST -->
				<!-- <rb-nav active='{"segment":2}'>
					<a href="/components/rb-alert">alert</a>
					<a href="/components/rb-button">button</a>
					<a href="/components/rb-nav">nav</a>
				</rb-nav> -->
			</section>
		</div>
		<div class="col-6">
			<rb-code
				readonly
				scrollable
				rows="7"
				mode="html"
				value="markup"
				rb-bind="value"
				theme="one-dark"
				actions='["copy"]'>
			</rb-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<rb-textcurve>
			<h5>Configure</h5>
		</rb-textcurve>

		<rb-radios
			toggle
			horizontal
			label="kind"
			value="a.kind"
			rb-bind="value"
			data="{{kinds}}">
		</rb-radios>
		<rb-radios
			toggle
			horizontal
			label="active"
			rb-bind="value"
			value="a.active"
			data="{{actives}}">
		</rb-radios>
		<rb-radios
			toggle
			horizontal
			rb-bind="value"
			label="responsive"
			value="a.responsive"
			data="{{responsives}}">
			<rb-popover slot="popover">
				See api for more info.
			</rb-popover>
		</rb-radios>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			value="a.dark"
			rb-bind="value"
			sublabel="dark">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.dividers"
			sublabel="dividers">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.inline"
			sublabel="inline">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind="value"
			value="a.vertical"
			sublabel="vertical">
		</rb-checkbox>

		<!-- CONTENT -->
		<rb-code
			rows="4"
			mode="html"
			theme="rapid"
			label="content"
			rb-bind="value"
			value="a.content">
		</rb-code>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<rba-api component="rb-nav"></rba-api>
	</section>

	<!-- CSS VARIABLES -->
	<section><rba-css-vars component="rb-nav" theme="common"></rba-css-vars></section>
	<section><rba-css-vars component="rb-nav" theme="light"></rba-css-vars></section>
	<section><rba-css-vars component="rb-nav" theme="dark"></rba-css-vars></section>

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-nav"></rba-changelog>
	</section>
</div>
