<div ng-controller="rbNavController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="nav"
				icon-size=".55">
			</rba-install>
			rb-nav
		</h1>
		<rba-source-nav source="RB_NAV_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
				<!-- <hr> -->

				<!-- ACTIVE TEST -->
				<!-- <rb-nav active="false"> -->
				<!-- <rb-nav active="true"> -->
				<!-- <rb-nav active="test"> -->
				<!-- <rb-nav active> -->
				<!-- <rb-nav>
					<a href="#home">home</a>
					<a href="#about">about</a>
					<a href="#contact">contact</a>
				</rb-nav> -->

				<!-- RESPONSIVE TEST -->
				<!-- <rb-nav> -->
				<!-- <rb-nav responsive> -->
				<!-- <rb-nav responsive='{ "closeOnClick": false }'>
					<a href="#home">home</a>
					<a href="#about">about</a>
					<a href="#contact">contact</a>
				</rb-nav> -->

				<!-- DYNAMIC SLOT TEST -->
				<!-- <rb-nav active="hash">
					<a href="" ng-href="#{{link.href}}" ng-repeat="link in links" ng-bind-html="link.content | trustHtml"></a>
				</rb-nav>
				<br>
				<button type="button" ng-click="addLink()">add link</button>
				<button type="button" ng-click="removeLink()">remove link</button> -->

				<!-- INLINE TEST -->
				<!-- before <div rba-builder="markup"></div> after -->

				<!-- ACTIVE PARAM TEST -->
				<!-- <rb-nav active='{"param":"name"}'>
					<a href="?name=home#home">home</a>
					<a href="?name=about#about">about</a>
					<a href="?name=contact#contact">contact</a>
					<a href="?name=faq#faq">faq</a>
				</rb-nav> -->

				<!-- ACTIVE SEGMENT TEST -->
				<!-- <rb-nav active='{"segment":2}'>
					<a href="/components/rb-alert">alert</a>
					<a href="/components/rb-button">button</a>
					<a href="/components/rb-nav">nav</a>
				</rb-nav> -->
			</section>
		</div>
		<div class="col-6">
			<textarea
				scroll
				readonly
				rba-code
				model="markup"
				actions="copy"
				caption="html"
				height="xxtall">
			</textarea>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Configure</h5>

		<rb-radios
			toggle
			rb-bind
			horizontal
			label="kind"
			value="a.kind"
			data="{{kinds}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="active"
			value="a.active"
			data="{{actives}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="responsive"
			value="a.responsive"
			data="{{responsives}}">
			<rb-popover slot="popover" position="top">
				See api for more info.
			</rb-popover>
		</rb-radios>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			rb-bind
			value="a.dark"
			sublabel="dark">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.dividers"
			sublabel="dividers">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.inline"
			sublabel="inline">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.vertical"
			sublabel="vertical">
		</rb-checkbox>

		<!-- CONTENT -->
		<rb-textarea
			rb-bind
			value="a.content"
			label="content">
		</rb-textarea>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_NAV_API" inject></rba-table>
	</section>

	<!-- CSS VARIABLES -->
	<!-- <rba-css-vars component="rb-nav" theme="common"></rba-css-vars>
	<rba-css-vars component="rb-nav" theme="light"></rba-css-vars>
	<rba-css-vars component="rb-nav" theme="dark"></rba-css-vars> -->

	<!-- CHANGELOG -->
	<rba-changelog source="rb-nav"></rba-changelog>
</div>
