<div ng-controller="rbNavController">
	<header class="page-header">
		<h1>
			<rba-install
				source="nav"
				icon-size=".55">
			</rba-install>
			rb-nav
		</h1>
		<rba-source-nav source="nav"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col flex">
			<section
				class="component"
				ng-class="[
					a.inline ? 'inline' : '',
					a.inverse ? 'inverse' : ''
				].join(' ')">

				<div rba-builder="markup"></div>
				<!-- <hr> -->

				<!-- ACTIVE TEST -->
				<!-- <rb-nav active="false"> -->
				<!-- <rb-nav active="true"> -->
				<!-- <rb-nav active="test"> -->
				<!-- <rb-nav active> -->
				<!-- <rb-nav>
					<a href="#home">home</a>
					<a href="#about">about</a>
					<a href="#contact">contact</a>
				</rb-nav> -->

				<!-- RESPONSIVE TEST -->
				<!-- <rb-nav> -->
				<!-- <rb-nav responsive> -->
				<!-- <rb-nav responsive='{ "closeOnClick": false }'>
					<a href="#home">home</a>
					<a href="#about">about</a>
					<a href="#contact">contact</a>
				</rb-nav> -->

				<!-- DYNAMIC SLOT TEST -->
				<!-- <rb-nav active="hash">
					<a href="" ng-href="#{{link.href}}" ng-repeat="link in links" ng-bind-html="link.content | trustHtml"></a>
				</rb-nav>
				<br>
				<button type="button" ng-click="addLink()">add link</button>
				<button type="button" ng-click="removeLink()">remove link</button> -->

				<!-- INLINE TEST -->
				<!-- before <div rba-builder="markup"></div> after -->

				<!-- ACTIVE PARAM TEST -->
				<!-- <rb-nav active='{"param":"name"}'>
					<a href="?name=home#home">home</a>
					<a href="?name=about#about">about</a>
					<a href="?name=contact#contact">contact</a>
					<a href="?name=faq#faq">faq</a>
				</rb-nav> -->

				<!-- ACTIVE SEGMENT TEST -->
				<!-- <rb-nav active='{"segment":2}'>
					<a href="/components/rb-alert">alert</a>
					<a href="/components/rb-button">button</a>
					<a href="/components/rb-nav">nav</a>
				</rb-nav> -->
			</section>
		</div>
		<div class="col-6">
			<rba-code
				scroll
				bind="markup"
				actions="copy"
				caption="html">
			</rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<div class="grid-noBottom">
			<div class="col-8">
				<rb-radios horizontal label="kind" value="a.kind" data="{{kinds}}" toggle></rb-radios>
				<rb-radios label="active" value="a.active" data="{{actives}}" toggle></rb-radios>
			</div>
			<div class="col">
				<rba-checkbox caption="inline" model="a.inline"></rba-checkbox>
				<rba-checkbox caption="inverse" model="a.inverse"></rba-checkbox>
				<rba-checkbox caption="dividers" model="a.dividers"></rba-checkbox>
				<rba-checkbox caption="vertical" model="a.vertical"></rba-checkbox>
				<rba-checkbox caption="responsive" model="a.responsive"></rba-checkbox>
			</div>
			<div class="col">
				<rba-textarea caption="content" model="a.content" width="xxwide"></rba-textarea>
			</div>
		</div>

		<section class="buttons">
			<rb-button
				data-reset
				icon="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_NAV_API" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-nav"></rba-changelog>
</div>
