<div ng-controller="rbPopoverController">
	<header class="page-header">
		<h1>
			<rba-install
				source="popover"
				icon-size=".55">
			</rba-install>
			rb-popover
		</h1>
		<rba-source-nav source="popover"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-7">
			<rba-code
				scroll
				bind="markup"
				actions="copy"
				caption="html">
			</rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<rb-radios horizontal label="kind" value="a.kind" data="{{kinds}}" toggle></rb-radios>
		<rb-radios horizontal label="position" value="a.position" data="{{positions}}" toggle></rb-radios>

		<!-- ICON OPTIONS -->
		<rb-radios horizontal label="icon-kind" value="a.iconKind" data="{{iconKinds}}" toggle></rb-radios>
		<rb-radios horizontal label="icon-source" value="a.iconSource" data="{{iconSources}}" toggle></rb-radios>
		<rb-input type="number" label="icon-size" value="a.iconSize"></rb-input>

		<!-- VALUELESS -->
		<rb-checkbox class="bumper-right" inline sublabel="fit-content" value="a.fitContent"></rb-checkbox>
		<rb-checkbox class="bumper-right" inline sublabel="hover" value="a.hover"></rb-checkbox>
		<rb-checkbox class="bumper-right" inline sublabel="show-popover" value="a.showPopover"></rb-checkbox>
		<rb-checkbox class="bumper-right" inline sublabel="unstyled" value="a.unstyled"></rb-checkbox>

		<!-- INPUT CONTROLS -->
		<rb-input label="caption" value="a.caption"></rb-input>
		<rba-textarea caption="content" model="a.content"></rba-textarea>

		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_POPOVER_API" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-popover"></rba-changelog>
</div>
