<div ng-controller="rbPopoverController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="popover"
				icon-size=".55">
			</rba-install>
			rb-popover
		</h1>
		<rba-source-nav source="RB_POPOVER_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
			</section>
		</div>
		<div class="col-6">
			<textarea
				scroll
				readonly
				rba-code
				model="markup"
				actions="copy"
				caption="html"
				height="xxtall">
			</textarea>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Configure</h5>

		<!-- INPUTS -->
		<rb-textarea
			rb-bind
			value="a.content"
			label="content">
		</rb-textarea>
		<rb-input
			inline
			rb-bind
			label="caption"
			value="a.caption">
		</rb-input>
		<rb-input
			inline
			rb-bind
			type="number"
			label="icon-size"
			value="a.iconSize">
		</rb-input>

		<!-- RADIOS -->
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="kind"
			value="a.kind"
			data="{{kinds}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="position"
			value="a.position"
			data="{{positions}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="icon-kind"
			value="a.iconKind"
			data="{{iconKinds}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="icon-source"
			value="a.iconSource"
			data="{{iconSources}}">
		</rb-radios>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			rb-bind
			value="a.dark"
			sublabel="dark"
			ng-if="env.is.dev">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.fitContent"
			sublabel="fit-content">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.hover"
			sublabel="hover">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.pin"
			sublabel="pin">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.showPopover"
			sublabel="show-popover">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.unstyled"
			sublabel="unstyled">
		</rb-checkbox>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_POPOVER_API" inject></rba-table>
	</section>

	<!-- CSS Variables -->
	<!-- <rba-css-vars component="rb-popover"></rba-css-vars> -->
	<section>
		<h5 rba-text-curve>CSS Variables</h5>
		<rba-table source="RB_POPOVER_CSS_VARS" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog component="rb-popover"></rba-changelog>
</div>
