<div ng-controller="rbPopoverController">
	<header class="page-header">
		<h1>rb-popover</h1>
		<rba-source-nav source="popover"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-7">
			<rba-code model="markup" caption="markup" readonly></rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<rba-radios caption="kind" model="a.kind" data="kinds" toggle></rba-radios>
		<rba-radios caption="position" model="a.position" data="positions" toggle></rba-radios>

		<!-- ICON OPTIONS -->
		<rba-radios caption="icon" model="a.icon" data="icons" toggle></rba-radios>
		<rba-radios caption="icon-source" model="a.iconSource" data="iconSources" toggle></rba-radios>
		<!-- <rba-input caption="icon-size" model="a.iconSize" type="number"></rba-input> -->

		<!-- VALUELESS -->
		<rba-checkbox caption="fit-content" model="a.fitContent"></rba-checkbox>
		<rba-checkbox caption="hover" model="a.hover"></rba-checkbox>
		<rba-checkbox caption="unstyled" model="a.unstyled"></rba-checkbox>

		<!-- INPUT CONTROLS -->
		<rb-input label="caption" value="a.caption"></rb-input>
		<rba-textarea caption="content" model="a.content"></rba-textarea>

		<section class="buttons">
			<rb-button
				data-reset
				icon="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<h5 rba-text-curve>API</h5>
	<rba-table source="popover"></rba-table>
</div>
