<div ng-controller="rbRadiosController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="radios"
				icon-size=".55">
			</rba-install>
			rb-radios
		</h1>
		<rba-source-nav source="RB_RADIOS_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
			</section>
		</div>
		<div class="col-6">
			<textarea
				scroll
				readonly
				rba-code
				model="markup"
				actions="copy"
				caption="html"
				height="xxxxxtall">
			</textarea>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<rb-textcurve>
			<h5>Configure</h5>
		</rb-textcurve>

		<!-- INPUTS -->
		<rb-input
			inline
			rb-bind
			label="label"
			value="a.label">
		</rb-input>
		<rb-input
			inline
			rb-bind
			label="value"
			value="a.value">
			<rba-popover-value></rba-popover-value>
		</rb-input>
		<rb-input
			inline
			rb-bind
			label="subtext"
			value="a.subtext">
		</rb-input>

		<!-- RADIOS -->
		<rb-radios
			rb-bind
			horizontal
			label="data"
			value="a.data"
			data="{{dataLabels}}">
		</rb-radios>
		<rb-radios
			toggle
			rb-bind
			horizontal
			label="label-key"
			value="a.labelKey"
			data="{{labelKeys}}">
		</rb-radios>

		<!-- VALIDATION -->
		<rb-checkboxes
			rb-bind
			horizontal
			value="a.validation"
			label="validation"
			data="{{validationLabels}}">
		</rb-checkboxes>

		<!-- VALUELESS -->
		<rb-checkbox
			inline
			rb-bind
			value="a.dark"
			sublabel="dark"
			ng-if="env.is.dev">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.disabled"
			sublabel="disabled">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.horizontal"
			sublabel="horizontal">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.inline"
			sublabel="inline">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.popover"
			sublabel="popover">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.right"
			sublabel="right">
		</rb-checkbox>
		<rb-checkbox
			inline
			rb-bind
			value="a.toggle"
			sublabel="toggle">
		</rb-checkbox>

		<!-- BUTTONS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<rba-api component="rb-radios"></rba-api>
	</section>

	<!-- CSS Variables -->
	<!-- <section>
		<rba-css-vars component="rb-radios"></rba-css-vars>
	</section> -->

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-radios"></rba-changelog>
	</section>
</div>
