<div ng-controller="rbRadiosController">
	<header class="page-header">
		<h1>rb-radios</h1>
		<rba-source-nav source="radios"></rba-source-nav>
	</header>

	<!-- HEADS UP -->
	<!-- <section class="bumper-bottom-xxxlarge">
		<rb-alert kind="danger">
			<rb-icon
				size="1.2"
				source="solid"
				class="bumper-right-mini"
				kind="exclamation-triangle">
			</rb-icon>
			Just started developing, not for use.
		</rb-alert>
	</section> -->

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
			<!-- <rb-radios
				label="Superheroes"
				value="superhero"
				data='[
					"superman",
					"wolverine",
					"wonder woman"
				]'>
			</rb-radios> -->
		</div>
		<div class="col-6">
			<rba-code
				bind="markup"
				actions="copy"
				caption="markup">
			</rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<rb-input label="label" value="a.label"></rb-input>
		<rb-input label="value" value="a.value"></rb-input>
		<rb-input label="subtext" value="a.subtext"></rb-input>

		<rba-checkbox
			inline
			value="data"
			model="a.data"
			caption="data">
		</rba-checkbox>
		<rba-checkbox inline caption="disabled" model="a.disabled"></rba-checkbox><br>
		<rba-checkbox inline caption="right" model="a.right"></rba-checkbox>
		<rba-checkbox inline caption="inline" model="a.inline"></rba-checkbox>

		<!-- FORM CONTROLS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<h5 rba-text-curve>API</h5>
	<rba-table source="RB_RADIOS_API" inject></rba-table>
</div>
