<div ng-controller="rbRadiosController">
	<header class="page-header">
		<h1>
			<rba-install
				source="radios"
				icon-size=".55">
			</rba-install>
			rb-radios
		</h1>
		<rba-source-nav source="radios"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
			<!-- <rb-radios
				label="Superheroes"
				value="superhero"
				data='[
					"superman",
					"wolverine",
					"wonder woman"
				]'>
			</rb-radios> -->
		</div>
		<div class="col-5">
			<rba-code
				scroll
				bind="markup"
				actions="copy"
				caption="html">
			</rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>
		<rb-input label="label" value="a.label"></rb-input>
		<rb-input label="value" value="a.value"></rb-input>
		<rb-input label="subtext" value="a.subtext"></rb-input>
		<rb-radios horizontal label="data" value="a.data" data="{{dataLabels}}"></rb-radios>
		<rb-radios horizontal label="label-prop" value="a.labelProp" data="{{labelProps}}" toggle></rb-radios>
		<rba-checkboxes caption="validation" model="a.validation" data="validationLabels"></rba-checkboxes>
		<rba-checkbox inline caption="disabled" model="a.disabled"></rba-checkbox>
		<rba-checkbox inline caption="toggle" model="a.toggle"></rba-checkbox><br>
		<rba-checkbox inline caption="horizontal" model="a.horizontal"></rba-checkbox>
		<rba-checkbox inline caption="inline" model="a.inline"></rba-checkbox><br>
		<rba-checkbox inline caption="right" model="a.right"></rba-checkbox>

		<!-- FORM CONTROLS -->
		<section class="buttons">
			<rb-button
				data-reset
				icon-kind="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<section>
		<h5 rba-text-curve>API</h5>
		<rba-table source="RB_RADIOS_API" inject></rba-table>
	</section>

	<!-- CHANGELOG -->
	<rba-changelog source="rb-radios"></rba-changelog>
</div>
