<div ng-controller="rbButtonController">
	<h1>rb-button</h1>

	<!-- COMPONENT -->
	<div class="demo">
		<form name="demoForm">
			<br><br>
			Kind:
			<span ng-repeat="item in kindValues">
				{{item}}
				<input  align="right" type="radio" name="kind" ng-value="item=='default' ? '' : item" ng-model="$parent.activeState.kind">
			</span>
			<br><br>

			Size:
			<span ng-repeat="item in sizeValues">
				{{item}}
				<input  align="right" type="radio" name="size" ng-value="item=='default' ? '' : item"" ng-model="$parent.activeState.size">
			</span>
			<br><br>
		</form>

		Preview:
		<rb-button kind="{{activeState.kind}}"
				size="{{activeState.size}}"
				icon-options="{{iconOptions}}"
				icon-position="right">Nice Button
		</rb-button>
	</div>
</div>
