<div ng-controller="rbInputController">
	<header class="page-header">
		<h1>rb-input</h1>
		<rba-source-nav source="input"></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<div rba-builder="markup"></div>
		</div>
		<div class="col-7">
			<rba-code readonly model="markup" caption="markup"></rba-code>
		</div>
	</section>

	<!-- DEMO -->
	<form name="demoForm">
		<h5 rba-text-curve>Demo</h5>

		<rba-input caption="label" model="a.label" type="text"></rba-input>
		<rba-input caption="value" model="a.value" type="text"></rba-input>
		<rba-input caption="subtext" model="a.subtext" type="text"></rba-input>
		<rba-checkbox caption="disabled" model="a.disabled" type="boolean"></rba-checkbox>
		<rba-checkbox caption="right" model="a.right" type="boolean"></rba-checkbox>
		<rba-checkbox caption="validation" model="a.validation" type="boolean"></rba-checkbox>

		<section class="buttons">
			<rb-button
				data-reset
				icon="sync"
				icon-source="solid"
				icon-position="left">
				Reset
			</rb-button>
		</section>
	</form>

	<!-- API -->
	<h5 rba-text-curve>API</h5>
	<rba-table source="input"></rba-table>
</div>
