<div ng-controller="rbToggleController">
	<header class="page-header with-source-nav">
		<h1>
			<rba-install
				source="toggle"
				icon-size=".55">
			</rba-install>
			rb-toggle
		</h1>
		<rba-source-nav source="RB_TOGGLE_SRC_NAV" inject></rba-source-nav>
	</header>

	<!-- COMPONENT -->
	<section class="grid">
		<div class="col">
			<section class="demo-component" ng-class="a.dark && 'dark'">
				<div rba-builder="markup"></div>
			</section>
		</div>
		<div class="col-6">
			<rb-code
				readonly
				scrollable
				rows="8"
				mode="html"
				value="markup"
				rb-bind="value"
				theme="one-dark"
				actions='["copy"]'>
			</rb-code>
		</div>
	</section>

	<!-- CONFIGURE -->
	<section>
		<rb-textcurve>
			<rb-toggle
				open
				target="form"
				caption="Configure"
				target-root="section">
			</rb-toggle>
		</rb-textcurve>
		<form name="demoForm">
			<!-- INPUTS -->
			<rb-input
				inline
				label="caption"
				rb-bind="value"
				value="a.caption">
			</rb-input>

			<!-- CONTENT OPTIONS -->
			<rb-code
				rows="3"
				mode="html"
				theme="rapid"
				label="content"
				rb-bind="value"
				value="a.content">
			</rb-code>
			<rb-checkboxes
				horizontal
				label="content"
				rb-bind="value"
				value="a.contentAlts"
				data="{{contentAlts}}">
				<rb-popover slot="popover" caption="content alternatives">
					<p>Three other ways to set content.</p>
					<ul>
						<li>fetch: url to file</li>
						<li>onclick: return a string</li>
						<li>
							target: any element in the
							<a target="_blank" href="https://mzl.la/2s8nYAw">dom</a>
							<span class="subtext block">target-root: target option required</span>
						</li>
					</ul>
				</rb-popover>
			</rb-checkboxes>

			<!-- RADIOS -->
			<rb-radios
				toggle
				horizontal
				label="kind"
				value="a.kind"
				rb-bind="value"
				data="{{kinds}}">
			</rb-radios>

			<!-- VALUELESS -->
			<rb-checkbox
				inline
				value="a.cache"
				rb-bind="value"
				sublabel="cache">
			</rb-checkbox>
			<rb-checkbox
				inline
				value="a.dark"
				rb-bind="value"
				sublabel="dark"
				ng-if="env.is.dev">
			</rb-checkbox>
			<rb-checkbox
				inline
				rb-bind="value"
				value="a.disabled"
				sublabel="disabled">
			</rb-checkbox>
			<rb-checkbox
				inline
				rb-bind="value"
				value="a.fetchOpts"
				sublabel="fetch-opts">
			</rb-checkbox>
			<rb-checkbox
				inline
				rb-bind="value"
				value="a.inline"
				sublabel="inline">
			</rb-checkbox>
			<rb-checkbox
				inline
				value="a.open"
				rb-bind="value"
				sublabel="open">
			</rb-checkbox>
			<!-- <rb-checkbox
				inline
				rb-bind="value"
				value="a.popover"
				sublabel="popover">
			</rb-checkbox> -->

			<!-- BUTTONS -->
			<section class="buttons">
				<rb-button
					data-reset
					icon-kind="sync"
					icon-source="solid">
					Reset
				</rb-button>
			</section>
		</form>
	</section>

	<!-- API -->
	<section>
		<rba-api component="rb-toggle"></rba-api>
	</section>

	<!-- CSS Variables -->
	<section>
		<rba-css-vars component="rb-toggle"></rba-css-vars>
	</section>

	<!-- CHANGELOG -->
	<section>
		<rba-changelog component="rb-toggle"></rba-changelog>
	</section>
</div>
